/********************************************/
/****  Artistics - It Company ( demo-4 ) ****/
/********************************************/

/*  Demo 4 Theme CSS  */

.demo-4 .page-header{
	position: relative;
	background-attachment: fixed;
}

.demo-4 .page-header:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.38%, #000000 102.69%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-4 .page-header-box h1 {
    margin-bottom: 20px;
	line-height: 1.1em !important;
}

.demo-4 .page-header-box .breadcrumb-trail {
    line-height: 1.1em;
}

@media only screen and (max-width: 991px){
	
	.page-header {
        padding: 182px 0 100px;
    }
	
	.demo-4 .page-header{		
		background-attachment: inherit;
	}
	
	.demo-4 .page-header-box h1 {
        font-size: 55px !important;
		margin-bottom: 15px;
    }
}

@media only screen and (max-width: 767px){
	
	.demo-4 .page-header-box h1 {
        font-size: 30px !important;
        margin-bottom: 15px;
    }
}

/* Project Archive ( demo-4 ) */

.demo-4 .awaiken-portfolio-grid-item__wrapper{
    overflow: hidden;
	text-align: start;
}

.demo-4 .artistic-archive-project .awaiken-portfolio-grid-item__wrapper {
    height: calc(100% - 30px);
    margin-bottom: 30px;
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__image{
	overflow: visible;
	border-radius: 0;
	margin-bottom: 10px;
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img{
	aspect-ratio: 1 / 0.75 !important;
	border-radius: 30px;
	margin-bottom: 20px;
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
	aspect-ratio: 1 / 0.75 !important;
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img{
	position: relative;
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-black);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    opacity: 50%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper:hover .awaiken-portfolio-grid-item__img:before{
    transform: scale(1);
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img:after{
	display: none;
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore{
	 transform: translate(-50%, -50%) scale(0); 
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper:hover .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore{
	transform: translate(-50%, -80%);
} 

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a{
	background: var(--e-global-color-accent);
	width: 100px;
    height: 100px;
	border: none;
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a:hover{
	background: var(--e-global-color-white);
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a svg path{
	fill: var(--e-global-color-secondary);
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories{
	position: relative;
	top: 0;
    right: 0;
}

.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories ul li a, 
.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories a{
	padding: 0;
	background: transparent;
	font-size: 16px;
	color: var(--e-global-color-accent);
}

@media only screen and (max-width: 991px){
	
	.demo-4 .awaiken-portfolio-grid__filters {
        margin-bottom: 40px;
    }

	.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img,
	.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
		aspect-ratio: 1 / 0.65 !important;
		margin-bottom: 15px;
	}
	
	.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a{
		width: 80px;
		height: 80px;
	}
	
	.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a svg {
        width: 40px;
        height: 40px;
    }
	
}

@media only screen and (max-width: 767px){
	
	.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img,
	.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
		aspect-ratio: 1 / 0.6 !important;
	}
	
	.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a{
		width: 60px;
		height: 60px;
	}
	
	.demo-4 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a svg {
        width: 30px;
        height: 30px;
    }
}

/* Projects Widget CSS */

.demo-4-projects .awaiken-portfolio-grid .awaiken-portfolio-grid-item:nth-of-type(even) .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img,
.demo-4-projects .awaiken-portfolio-grid .awaiken-portfolio-grid-item:nth-of-type(even) .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
	aspect-ratio: 1 / 1.05 !important;
}

@media only screen and (max-width: 991px){
	
	.demo-4-projects .awaiken-portfolio-grid .awaiken-portfolio-grid-item:nth-of-type(even) .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img,
	.demo-4-projects .awaiken-portfolio-grid .awaiken-portfolio-grid-item:nth-of-type(even) .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
		aspect-ratio: 1 / 0.85 !important;
	}
	
}

@media only screen and (max-width: 767px){
	
	.demo-4-projects .awaiken-portfolio-grid .awaiken-portfolio-grid-item:nth-of-type(even) .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img,
	.demo-4-projects .awaiken-portfolio-grid .awaiken-portfolio-grid-item:nth-of-type(even) .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
		aspect-ratio: 1 / 0.75 !important;
	}
}


/***************************************/
/*** Elementor Pages CSS ( demo 4 )  ***/
/***************************************/

/* Elementor Header CSS */

@media only screen and (max-width: 991px){}
@media only screen and (max-width: 767px){}


/* Elementor Footer CSS */

.e-con.demo-4-footer::before{
	top: auto;
	left: -20px;
    bottom: 80px;
    width: 230px;
    height: 276px;
    animation: ringrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
	opacity: 1;
}

@keyframes ringrotate{
	0%{
		transform: translateY(-80%) rotate(0deg);
    }
    100%{
        transform: translateY(30%) rotate(360deg);
    }
}

.demo-4 .about-footer{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-4 .footer-logo{
	transform: translateX(-50%);
}

.demo-4 .footer-contact-item .elementskit-infobox{
	position: relative;
}

.demo-4 .footer-contact-item .elementskit-infobox .elementskit-info-box-icon::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--e-global-color-accent);
	transform: scale(0);
	height: 100%;
	width: 100%;
	border-radius: 30px;
	transition: all 0.4s ease-in-out;
	z-index: -1;
}

.demo-4 .footer-contact-item .elementskit-infobox:hover .elementskit-info-box-icon::before{
    transform: scale(1);
}

.demo-4 .footer-contact-box.footer-contact-item .elementskit-infobox .elementskit-info-box-icon::before{
	background: var(--e-global-color-white);
}

.demo-4 .footer-links-section::after{
	content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    right: -50px;
    height: 85%;
    width: 1px;
    transform: translateY(-50%);
    background-color: var(--e-global-color-divider);
}

.demo-4 .footer-newsletter-form .form-group .email-field{
    width: calc(72% - 10px);
}

.demo-4 .footer-newsletter-form .wpcf7-not-valid-tip,
.demo-4 .footer-newsletter-form .wpcf7-response-output{
	display: none;
}

.demo-4 .footer-newsletter-form .form-group>p{
	width: 28%;
}

.demo-4 .footer-newsletter-form button{
	line-height: 1em;
	border-radius: 100px !important;
	padding: 22px 20px !important;
}

.demo-4 .footer-social-icon ul li:first-child{
	margin-left: 0 !important;
}

@media only screen and (max-width: 991px){
	
	.e-con.demo-4-footer::before{
		width: 160px;
		height: 160px;
		opacity: 30%;
    }
	
	.demo-4 .footer-links-section::after{
		right: -30px;
    }
	
	.demo-4 .footer-newsletter-form button{
		padding: 19px 20px !important;
	}
	
}

@media only screen and (max-width: 767px){
	
	.demo-4-footer::before{
		top: 130px;
    }
	
	.demo-4 .footer-links-section::before{
		display: none;
	}
	
	.demo-4 .footer-links ul li a{
		padding-bottom: 10px !important;
	}
	
	.demo-4 .footer-newsletter-form .form-group .email-field{
		width: calc(70% - 10px);
	}
	
	.demo-4 .footer-newsletter-form .form-group>p{
		width: 30%;
	}
	
	.demo-4 .footer-newsletter-form button{
		font-size: 14px;
		padding: 15px 12px !important;
	}
	
}

/* Home Page CSS */

.demo-4 .hero .elementor-background-video-container:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(179.5deg, rgba(0, 0, 0, 0) 0.44%, var(--e-global-color-black) 119.12%), linear-gradient(0.62deg, rgba(0, 0, 0, 0) 81.46%, var(--e-global-color-black) 99.49%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-4 .hero-img-1 img,
.demo-4 .hero-img-2 img{
	aspect-ratio: 1 / 1.65;
    object-fit: cover;
}

.demo-4 .approach-image-circle{
	transform: translate(-50%, -50%);
}

.demo-4 .approach-image-circle .elementor-widget-text-path,
.demo-4 .about-image-circle .elementor-widget-text-path{
	animation: infiniterotate 30s infinite linear;
}

.demo-4-about-us:before{
    right: -20px;
	left: auto;
    top: auto;
    bottom: 80px;
    width: 200px;
    height: 200px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-4 .about-image-1 img{
	aspect-ratio: 1 / 0.818;
	object-fit: cover;
}

.demo-4 .about-image-2 img{
	aspect-ratio: 1 / 0.69;
	object-fit: cover;
}

.demo-4 .about-image-circle{
	transform: translatex(50%);
}

.demo-4 .about-image-sm-icon .elementor-icon-wrapper{
	line-height: 0;
}

.demo-4 .about-project-info-box{
	transform: translateX(-50%);
	animation: infiniteboxmove 3s infinite linear alternate;
}

@keyframes infiniteboxmove{
	50%{
		transform: translateX(-20%);
	}
}

.demo-4 .about-project-info-box .elementskit-funfact{
	display: block !important;
}

.demo-4 .about-project-info-box .elementskit-funfact-inner{
	position: relative;
	overflow: hidden;
	z-index: 0;
	border-radius: 100px;
}

.demo-4 .about-project-info-box .elementskit-funfact-inner:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    height: 100%;
    width: 0;
    border-radius: 100px;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-4 .about-project-info-box .elementskit-funfact-inner:hover:before{
	width: 100%;
    right: 100%;
}

.demo-4 .about-project-info-box .funfact-content{
	margin-left: 15px;
}

.demo-4 .about-success-info{
	 backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-4 .breadcrumb-itam ol li{
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4em;
}

.demo-4 .about-us:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.38%, #000000 102.69%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    height: 100%;
    width: 100%;
    z-index: 0;
}

.demo-4-our-services:before{
    left: -10px;
	top: auto;
    bottom: 80px;
    width: 220px;
    height: 216px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-4 .service-item{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-4 .service-image img{
	aspect-ratio: 1 / 0.692;
    object-fit: cover;
	transition: all 0.4s ease-in-out;
}

.demo-4 .service-item .service-image .elementor-image-box-img{
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}

.demo-4 .service-item .service-image .elementor-image-box-img a{
	display: block;
}

.demo-4 .service-item .service-image .elementor-image-box-img::before{
	content: "";
    position: absolute; 
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

.demo-4 .service-item .service-image .elementor-image-box-img:hover::before{
	height: 250%;
	transition: all 600ms linear;
	background-color: transparent;
}

.demo-4 .service-item .service-content-box .elementskit-info-box-icon svg{
	 transition: all 0.3s ease-in-out;
	 height: 1em !important;
	 width: 1em !important;
}

.demo-4 .service-item .service-content-box .elementskit-info-box-icon{
	position: relative;
    overflow: hidden;
}
	
.demo-4 .service-item .service-content-box .elementskit-info-box-icon::before{
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.demo-4 .service-item:hover .service-content-box .elementskit-info-box-icon::before{
	transform: scale(1);
}

.demo-4 .service-item .service-content-box .elementskit-box-header{
	line-height: 0;
}

.demo-4 .service-item:hover .service-content-box .elementskit-info-box-icon svg path{
	 color: var(--e-global-color-secondary);
}

.demo-4 .service-item .service-readmore-btn svg{
	transition: all 0.3s ease-in-out;
}

.demo-4 .service-item .service-readmore-btn:hover svg{
	transform: rotate(45deg);
}

.demo-4 .service-footer a span{
	transition: all 0.3s ease-in-out;
}

.demo-4 .service-footer a:hover span{
	color: var(--e-global-color-white) !important;
}

.demo-4 .awards-list-item{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-4 .award-item-heading h3::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    background-color: var(--e-global-color-accent);
    mask-image: url(../images/icon-sub-heading.svg);
    mask-size: cover;
    width: 18px;
    height: 18px;
}

.demo-4 .award-item-heading span{
	font-size: 16px;
    font-weight: 400;
    color: var(--e-global-color-accent);
} 

.demo-4 .award-item-contant svg{
	transition: all 0.3s ease-in-out;
}

.demo-4 .award-item-contant svg:hover{
	transform: rotate(45deg);
}

.demo-4 .award-item-contant svg:hover path{
	color: var(--e-global-color-white)
}

.demo-4 .award-item-contant .btn-wraper{
	line-height: 0;
}

.demo-4-why-choose-us::before{
	top: auto;
	left: auto;
    right: -20px;
    bottom: 80px;
    width: 210px;
    height: 200px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-4 .why-choose-body-img img{
	aspect-ratio: 1 / 1.35;
    object-fit: cover;
}

.demo-4 .why-choose-img img{
	aspect-ratio: 1 / 1.333;
    object-fit: cover;
}

.demo-4 .company-experience-box{
	height: var(--container-widget-width);
}

.demo-4 .company-experience-box .elementor-counter-title{
	text-align: center;
}

.demo-4.what-we-do::before {
	top: auto;
    left: -20px;
    bottom: 80px;
    width: 160px;
    height: 220px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-4 .satisfy-client-image .elementor-widget-container{
	z-index: 0;
}

.demo-4 .satisfy-client-counter .elementor-counter-number-wrapper{
	align-items: center;
	max-width: 8%;
}

.demo-4 .satisfy-client-counter .elementor-counter-number-suffix{
	display: none;
}

.demo-4 .what-we-do-image img {
    aspect-ratio: 1 / 1.584;
    object-fit: cover;
}

.demo-4 .what-we-do-circle{
	z-index: 1;
    animation: infiniterotate 30s infinite linear;
}

.demo-4 .what-do-body-item{
	position: relative;
}

.demo-4 .what-do-body-item::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -35px;
	height: 100%;
	width: 1px;
	background-color: var(--e-global-color-divider);
}

.demo-4 .what-do-body-item:nth-of-type(3n + 3):before,
.demo-4 .what-do-body-item:last-child:before{
	display: none;
}

.demo-4 .pricing-plan{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    overflow: hidden;
}

.demo-4 .pricing-plan .currency{
	font-weight: 700 !important;
}

.demo-4 .pricing-plan .period{
	margin-left: -7px;
	opacity: 80%;
}

.demo-4 .pricing-plan .elementskit-pricing-price,
.demo-4 .pricing-plan .elementskit-pricing-btn-wraper{
	line-height: 0;
} 

.demo-4 .pricing-plan .btn-highlighted::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--e-global-color-primary);
    border-radius: 100px;
    opacity: 20%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.demo-4 .pricing-plan ul li{
	line-height: 1.3em !important;
}

.demo-4 .pricing-benefit-list .elementor-icon-list-items{
	gap: 20px 40px;
}

.demo-4 .pricing-benefit-list .elementor-inline-items .elementor-icon-list-item{
	margin: 0;
}

.demo-4-how-it-work-section::before {
    right: -20px;
    top: 80px;
	left: auto;
	bottom: auto;
    width: 210px;
    height: 200px;
    animation: roundrotate4 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes roundrotate4{
    0%{
		transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(150%) rotate(360deg);
    }
}

.demo-4 .how-work-circle{
	animation: agencycirclerotate 25s infinite linear;
    transition: all 0.3s ease-in-out;
}

@keyframes agencycirclerotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-img{
	position: relative;
	overflow: hidden;
	border-radius:30px;
}

.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-wrapper{
	display: flex;
	flex-direction: column-reverse;
}

.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-img img{
	width: 100%;
    aspect-ratio: 1 / 0.404;
    object-fit: cover;
}

.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-img::before{
	content: "";
	position: absolute;
    width: 215%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255,255,255,.3);
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 1;	
}

.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-img:hover::before{
 	 height: 250%;
    transition: all 600ms linear;
	background-color: transparent;
}

.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-description{
	margin-bottom: 30px;
}

.demo-4-our-testimonials::before{
	top: auto;
    left: -20px;
    bottom: 80px;
    width: 225px;
    height: 220px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-4 .testimonial-sliders .elementskit-stars{
	line-height: 0;
}

.demo-4 .testimonial-sliders .elementskit-stars svg{
	width: 1em !important;
}

.demo-4 .testimonial-sliders .elementskit-commentor-content p{
	border-bottom: 1px solid var(--e-global-color-divider);
	padding-bottom: 60px;
}

.demo-4 .testimonial-sliders .elementskit-commentor-image{
	position: relative;
    border-radius: 100px;
	overflow: hidden;
}

.demo-4 .testimonial-sliders .elementskit-commentor-image::before{
	content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

.demo-4 .testimonial-sliders .elementskit-commentor-image:hover:before{
	height: 250%;
	transition: all 600ms linear;
	background-color: transparent;
}

.demo-4 .testimonial-sliders .swiper-navigation-button{
	transition: all 0.4s ease-in-out;
	line-height: 0;
}

.demo-4 .testimonial-sliders .swiper-navigation-button.swiper-button-next svg{
	transform: rotate(45deg);
}

.demo-4 .testimonial-sliders .swiper-navigation-button.swiper-button-prev svg{
	transform: rotate(225deg);
}

.demo-4 .faq-accordion .elementskit-card{
	position: relative;
	overflow: hidden;
	background-color: var(--e-global-color-black) !important;
}

.demo-4 .faq-accordion .elementskit-card::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
}

.demo-4 .faq-accordion .elementskit-card .elementskit-card-body{
	position: relative;
}

.demo-4-blog::before{
	left: auto;
    right: -20px;
    top: 80px;
    width: 210px;
    height: 200px;
    animation: roundrotate4 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-4 .about-image-1 img{
    	aspect-ratio: 1 / 0.65;
	}
	
	.demo-4 .breadcrumb-itam ol li{
		font-size: 16px;
	}

	.demo-4-about-us:before{
		width: 150px;
		height: 150px;
	}

	.demo-4-our-services:before{
		width: 150px;
		height: 150px;
	}

	.demo-4 .award-item-heading h3::before{
		top: 3px;
		height: 16px;
		width:16px;
	}

	.demo-4-why-choose-us::before{
		width: 160px;
		height: 160px;
	}

	.demo-4 .why-choose-body-img img{
		aspect-ratio: 1 / 0.914;
		object-position: top center;
	}

	.demo-4 .why-choose-img img{
		aspect-ratio: 1 / 0.9;
	}
	
	.demo-4 .what-we-do-image img {
		aspect-ratio: 1 / 1.5;
	}

	.demo-4.what-we-do::before{
		width: 150px;
		height: 150px;
	}
	
	.demo-4-how-it-work-section::before{
		width: 150px;
		height: 150px;
	}
	
	.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-description{
		margin-bottom: 20px;
	}
	
	.demo-4-our-testimonials::before{
		width: 160px;
		height: 160px;
	}

	.demo-4 .testimonial-sliders .elementskit-commentor-content p{
		padding-bottom: 30px;
	}
	
	.demo-4-blog::before{
		width: 160px;
		height: 160px;
		top: 20px;
    }
	
}
	
@media only screen and (max-width: 767px){
	
	.demo-4 .hero-img-1 img,
	.demo-4 .hero-img-2 img{
		aspect-ratio: 1 / 1.8;
	}
	
	.demo-4 .hero-review-box .elementor-icon-box-wrapper{
		align-items: center !important;
	}
	
	.demo-4 .breadcrumb-itam ol li{
		font-size: 14px;
	}

	.demo-4 .about-image-1 img,
	.demo-4 .about-image-2 img{
		aspect-ratio: 1 / 0.7;
	}

	.demo-4 .about-image-sm-icon .elementor-icon-wrapper .elementor-icon{
		padding: 6px !important;
	}
	
	.demo-4 .satisfy-client-counter .elementor-counter-number-wrapper{
		max-width: 10%;
	}
	
	.demo-4 .what-do-body-item::before{
		right: -20px;
	}
	
	.demo-4 .pricing-benefit-list ul li{
		width: calc(50% - 5px);
	}
	
	.demo-4 .pricing-benefit-list .elementor-icon-list-items{
		gap: 15px 10px;
	}
	
	.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-img{
		border-radius:20px;
	}
	
	.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-img img {
        aspect-ratio: 1 / 0.52;
    }
	
	.demo-4 .work-process-items.elementor-widget-image-box .elementor-image-box-description{
		margin-bottom: 20px;
	}
	
	.demo-4 .testimonial-sliders .elementskit-commentor-content p{
		padding-bottom: 20px;
	}
	
	.demo-4 .testimonial-sliders .elementskit-testimonial-slider .swiper-button-next, 
	.demo-4 .testimonial-sliders .elementskit-testimonial-slider .swiper-button-prev{
			display: block !important;
	}
	
}

/* Home Image */

.demo-4 .hero-image::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(179.5deg, rgba(0, 0, 0, 0) 0.44%, var(--e-global-color-black) 119.12%), linear-gradient(0.62deg, rgba(0, 0, 0, 0) 81.46%, var(--e-global-color-black) 99.49%);
    height: 100%;
    width: 100%;
    z-index: 0;
}

/* Home Slider */

.demo-4 .hero-slider .elementor-background-slideshow__slide__image:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(179.5deg, rgba(0, 0, 0, 0) 0.44%, var(--e-global-color-black) 119.12%), linear-gradient(0.62deg, rgba(0, 0, 0, 0) 81.46%, var(--e-global-color-black) 99.49%);
    height: 100%;
    width: 100%;
    z-index: 0;
}

/* About US CSS */

.demo-4-why-choose-us.demo-4-about-why-choose-us::before{
	right: auto;
    left: -20px;
    width: 220px;
    height: 216px;
}

.mission-vision-item{
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
}

.demo-4 .mission-vision-item .about-icon-box .elementskit-box-header{
	line-height: 0 !important;
}

.demo-4 .mission-vision-item .about-icon-box .ekit-wid-con .elementskit-info-box-icon svg,
.demo-4 .about-icon-box .ekit-wid-con .elementskit-info-box-icon svg{
	transition: all 0.4s ease-in-out;
}	

.demo-4 .mission-vision-item:hover .about-icon-box .ekit-wid-con .elementskit-info-box-icon svg,
.demo-4 .about-icon-box:hover .ekit-wid-con .elementskit-info-box-icon svg{
	transform: rotateY(180deg);
}

.demo-4 .mission-vision-item:hover .about-icon-box .ekit-wid-con .elementskit-info-box-icon svg path,
.demo-4 .about-icon-box:hover .ekit-wid-con .elementskit-info-box-icon svg path{
	stroke:  var(--e-global-color-white);
}

.demo-4 .company-benefit-item{
	transition: all 0.4s ease-in-out;
}

.demo-4 .company-benefit-item .elementskit-infobox{
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
	border-radius: 30px;
}

.demo-4 .company-benefit-item:hover {
    transform: translateY(-3px);
}

.demo-4 .company-benefit-item .elementskit-infobox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.demo-4 .company-benefit-footer p a{
	font-weight: 600;
    text-decoration: underline;
    color: var(--e-global-color-accent);
    transition: all 0.3s ease-in-out;
}

.demo-4 .company-benefit-footer p a:hover{
    color: var(--e-global-color-white);
}

.demo-4 .our-skill:before{
    right: -20px;
	left: auto;
	top: auto;
    bottom: 80px;
    width: 208px;
    height: 200px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes circlerotate{
	from{
		transform: translateY(0) rotate(0deg);
	}
	to{
		transform: translateY(-110%) rotate(360deg);
	}
}

.demo-4 .our-skill-img img{
	aspect-ratio: 1 / 0.7;
    object-fit: cover;
}

.demo-4 .skillbar .elementor-widget-container{
    position: relative;
}

.demo-4 .skillbar .elementor-progress-wrapper{
    position: static;
    margin-top: 15px;
}

.demo-4 .skillbar .elementor-progress-bar{
	border-radius: 100px;
}

.demo-4 .skillbar .elementor-progress-percentage{
    position: absolute;
    top:0;
    right: 0;
	font-size: 16px;
    padding: 0;
    margin-left: 10px;
}

.demo-4 .brands-list-item .elementor-widget-container{
	position: relative;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    overflow: hidden;
    z-index: 1;
	border-radius: 20px;
}

.demo-4 .brands-list-item .elementor-widget-container:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.demo-4-our-testimonials.demo-4-page-about-testimonial::before{
	left: auto;
    right: -20px;
}

@media only screen and (max-width: 991px){
	
	.demo-4-why-choose-us.demo-4-about-why-choose-us::before{
		width: 160px;
		height: 160px;
	}

	.demo-4 .our-skill:before {
		width: 150px;
		height: 150px;
	}

	.demo-4 .skillbar .elementor-progress-wrapper{
		margin-top: 7px;
	}
	
}

@media only screen and (max-width: 991px){
	
	.demo-4 .skillbar .elementor-progress-bar{
		height: 14px !important;
	}
	
}

@media only screen and (max-width: 767px){}

/* Service Details Page CSS */

.demo-4-service-single-page::before{
    left: -20px;
    top: 80px;
    width: 210px;
    height: 200px;
    animation: roundrotate4 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-4-service-single-page::after{
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: 50%;
    background: url("../images/demo-4-section-bg-shape-5.png") no-repeat;
    background-position: right top;
    background-size: contain;
    width: 210px;
    height: 200px;
    animation: roundrotate4 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-4-service-single-page::before{
        width: 150px;
        height: 150px;
    }
	
	.demo-4-service-single-page::after{
		width: 160px;
		height: 160px;
		opacity: 30%;
	}
	
}

@media only screen and (max-width: 767px){}

/* Project Details Page CSS */

.demo-4-project-single-page::before{
    left: -20px;
    top: 15%;
    width: 200px;
    height: 200px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-4-project-single-page::after{
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: 50%;
    background: url("../images/demo-4-section-bg-shape-4.png") no-repeat;
    background-position: right bottom;
    background-size: contain;
    width: 160px;
    height: 220px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-4-project-single-page::before{
		width: 150px;
		height: 150px;
	}
	
	.demo-4-project-single-page::after{
		width: 150px;
		height: 150px;
		opacity: 30%;
	}
	
}

@media only screen and (max-width: 767px){}

/* Our Team CSS */

.demo-4-page-team::before{
	left: auto;
	top: auto;
    right: -20px;
    bottom: 50%;
    width: 210px;
    height: 200px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-4 .team-item .team-image img{
	aspect-ratio: 1 / 1.06;
    object-fit: cover;
	transition: all 0.4s ease-in-out;
}

.demo-4 .team-item:hover .team-image img{
	transform: scale(1.1);
}

.demo-4 .team-item .elementor-widget-elementskit-social-media ul li:last-child {
	margin: 0;
}

.demo-4 .team-item .elementor-widget-elementskit-social-media{
	right: 20px;
}

.demo-4 .team-item .elementor-widget-elementskit-social-media ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
}

.demo-4 .team-item .team-image .elementor-widget-container{
	position: relative;
	overflow: hidden;
}

.demo-4 .team-item .team-image .elementor-widget-container:before{
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.03%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
} 

@media only screen and (max-width: 991px){
	
	.demo-4-page-team::before{
        width: 160px;
        height: 160px
	}
	
}

@media only screen and (max-width: 767px){}

/* Team Details Page CSS */

.demo-4-team-single-page::before{
    left: -20px;
    top: 150px;
    width: 210px;
    height: 200px;
    animation: roundrotate4 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-4-team-single-page::after{
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: 50%;
    background: url("../images/demo-4-section-bg-shape-7.png") no-repeat;
    background-position: right top;
    background-size: contain;
    width: 210px;
    height: 200px;
    animation: roundrotate4 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-4-team-single-page::before{
        width: 150px;
        height: 150px;
	}
	
	.demo-4-team-single-page::after{
        width: 160px;
        height: 160px;
        opacity: 30%;
    }
}

@media only screen and (max-width: 767px){}

/* Our Pricing Page CSS */

.demo-4-page-pricing::before{
    left: -10px;
    top: 50%;
    width: 220px;
    height: 216px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-4-page-pricing::before{
		width: 150px;
        height: 150px;
	}
}

@media only screen and (max-width: 767px){}

/* Testimonial Page CSS */

.demo-4-testimonial-page::before{
	left: auto;
    right: -20px;
    top: 20%;
    width: 200px;
    height: 200px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-4-testimonial-page::before{
		width: 150px;
        height: 150px;
	}	
}

@media only screen and (max-width: 767px){}

/* Our Gallery Page CSS */

.demo-4-gallery-page::before{
	left: auto;
    right: -20px;
    top: 50%;
    width: 210px;
    height: 200px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-4-gallery-page::before{
		width: 160px;
        height: 160px;
	}
	
}

@media only screen and (max-width: 767px){}

/* Video Gallery CSS */

.demo-4-page-video-gallery::before{
	left: auto;
    right: -20px;
    top: 150px;
    width: 210px;
    height: 200px;
    animation: roundrotate4 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-4-page-video-gallery::before{
		width: 160px;
        height: 160px;
        top: 100px;
	}	
	
}

@media only screen and (max-width: 767px){}

/* FAQ Page Css */

.demo-4-page-faq::before{
	left: auto;
	right: -10px;
    top: 25%;
    width: 220px;
    height: 216px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-4-page-faq::before{
		width: 150px;
		height: 150px;
	}	
	
}

@media only screen and (max-width: 767px){}

/* Contact Page CSS */

.demo-4 .page-contact-us:before{
	top: auto;
	left: auto;
	right: -20px;
	bottom: 0px;
	width: 210px;
	height: 215px;
	animation: circlerotate 10s infinite linear;
	animation-direction: alternate;
	z-index: -1;
}

.demo-4 .contact-us-sidebar{
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
}

.demo-4 .contact-sidebar-img .elementor-widget-container::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.demo-4 .contact-sidebar-img img{
	width: 100%;
	aspect-ratio: 1 / 0.85;
	object-fit: cover;
	transition: all 0.3s ease-in-out;
}

.demo-4 .contact-sidebar-image:hover img{
	transform: scale(1.05);
}

.demo-4 .contact-us-cta svg{
	width: 1em !important;
	height: 1em !important;
}

.demo-4 .contact-us-cta .elementskit-info-box-title,
.contact-us-cta p{
	transition: all 0.3s ease-in-out;
}

.demo-4 .contact-us-cta .elementskit-info-box-title:hover,
.contact-us-cta p:hover{
	color: var(--e-global-color-accent) !important;
}

.demo-4 .contact-info-items{
	position: relative;
}

.demo-4 .contact-info-items::before{
	content: '';
	position: absolute;
	left: auto;
	top: 0;
	bottom: 0;
	right: -85px;
	height: 100%;
	width: 1px;
	background-color: var(--e-global-color-divider);
}

.contact-info-items:last-child:before{
	display: none;
}

.demo-4 .google-map .elementor-custom-embed iframe{
	filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.demo-4 .google-map .elementor-custom-embed iframe:hover{
	filter: grayscale(0%);
}

@media only screen and (max-width: 991px){

	.demo-4 .page-contact-us::before{
		width: 150px;
		height: 150px;
	}
	
	.demo-4 .contact-sidebar-img img{
		aspect-ratio: 1 / 0.65;
	}

	.demo-4 .contact-info-items::before{
		top: auto;
		bottom: -15px;
		right: 0;
		height: 1px;
		width: 100%;
	}
	
}

@media only screen and (max-width: 767px){
	
	.demo-4 .contact-info-items .elementor-icon-box-wrapper{
		align-items: center;
	}
	
}