/********************************************/
/****  Artistics - Web Agency ( demo-7 ) ****/
/********************************************/

/*  Demo 7 Theme CSS  */

.demo-7 header.main-header{
    position: absolute;
    top: 0;
    width: 100%;
}

.demo-7 .page-header{
	position: relative;
	background-attachment: fixed;
    padding: 250px 0 150px;
    margin-top: 0;
}

.demo-7 .page-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.89%, var(--e-global-color-black) 126.31%), linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-7 .page-header-box h1{
    font-size: 60px !important;
}

.demo-7 .page-header-box .breadcrumb-trail{
    line-height: 1.2em;
}

@media only screen and (max-width: 991px){
	
	.demo-7 .page-header{
		background-attachment: inherit;
		padding: 180px 0 100px;
	}
	
	.demo-7 .page-header-box h1 {
		font-size: 50px !important;
	}
	
}

@media only screen and (max-width: 767px){
	
	.demo-7 .page-header-box h1 {
		font-size: 30px !important;
	}
	
}

/* Project Archive ( demo-7 ) */

.demo-7 .artistic-archive-project .awaiken-portfolio-grid-item__wrapper{
    height: calc(100% - 30px);
    margin-bottom: 30px;
}

.demo-7 .awaiken-portfolio-grid-item__wrapper{
    overflow: hidden;
	text-align: start;
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__image{
	overflow: visible;
	border-radius: 0;
	margin-bottom: 5px;
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img{
	aspect-ratio: 1 / 0.648 !important;
	border-radius: 30px;
	margin-bottom: 20px;
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
	aspect-ratio: 1 / 0.648 !important;
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img{
	position: relative;
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper:hover .awaiken-portfolio-grid-item__img:before{
    transform: scale(1);
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore{
	top: auto;
	left: auto;
	right: 0;
	bottom: -30px;
	opacity: 1;
	visibility: visible;
	transform: translate(0);
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper:hover .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore{
	transform: translate(0);
} 

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a{
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	width: 50px;
    height: 50px;
	border: none;
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    opacity: 20%;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a svg{
    width: 25px;
    height: 25px;
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a:hover{
	background: var(--e-global-color-accent);
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a svg path{
	fill: var(--e-global-color-white);
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a:hover svg path{
	fill: var(--e-global-color-secondary);
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories{
	position: relative;
	top: 0;
    right: 0;
	width: calc(100% - 60px);
}

.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories ul li a, 
.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories a{
	padding: 0;
	background: transparent;
	font-size: 16px;
	backdrop-filter: none;
	color: var(--e-global-color-accent);
}

.demo-7 .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__content{
	width: calc(100% - 60px);
}

@media only screen and (max-width: 991px){
	
	.demo-7 .awaiken-portfolio-grid__filters{
        margin-bottom: 40px;
    }

	.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img{
		border-radius: 20px;
	}
	
	.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img,
	.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
		aspect-ratio: 1 / 0.71 !important;
	}
	
	.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore{
		bottom: -25px;
	}
}

@media only screen and (max-width: 767px){
	
	.demo-7 .awaiken-portfolio-item-design-1.awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__title{
        font-size: 18px;
    }
	
	.demo-7 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img{
        border-radius: 15px;
    }
	
}

/***************************************/
/*** Elementor Pages CSS ( demo 7 )  ***/
/***************************************/

/* Elementor Header CSS */

.demo-7 .elementskit-menu-container .elementskit-navbar-nav .elementskit-submenu-panel > li > a{
	line-height: normal !important;
}

.demo-7 .header-contact-box .elementskit-info-box-icon{
	transition: all 0.3s ease-in-out;
}

/* Elementor Footer CSS */

.demo-7 .work-together-btn{
	padding-right: 0 !important;
}

.demo-7 .work-together-btn  a.elementor-button{
	height: var(--container-widget-width);
}

.demo-7-footer.work-together-btn::before{
	left: auto;
    right: -20px;
    top: 50%;
    width: 250px;
    height: 250px;
	opacity: 50%;
    transform: translateY(-50%);
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes cuberotate{
	from{
		transform: translateY(0) rotate(0deg);
	  }
	to{
		transform: translateY(-90%) rotate(360deg);
	}
}

.demo-7-footer-privacy-policy ul{
	display: flex;
}

.demo-7-footer-privacy-policy ul li:last-child{
	border-right: 0 !important;
}

.demo-7-footer-privacy-policy ul li:last-child a{
	padding-right: 0 !important;
}

.demo-7-footer-privacy-policy ul li:first-child a{
	padding-left: 0 !important;
}

.demo-7-footer-contact-box .elementskit-box-header{
	line-height: 0;
}

.demo-7-footer-contact-box .elementskit-info-box-icon::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--e-global-color-primary);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
	z-index: -1;
}

.demo-7-footer-contact-box:hover .elementskit-info-box-icon::before{
    transform: scale(1);
}

.demo-7-footer-cta-box{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-7-footer-social-icon ul li:first-child{
	margin-left: 0 !important;
}

.demo-7-footer-newsletter-form .form-group{
	display: flex;
	align-items: center;
}

.demo-7-footer-newsletter-form .email-field{
	width: 72%;
}

.demo-7-footer-newsletter-form .form-btn{
	width: 28%;
}

.demo-7-footer-newsletter-form .wpcf7-response-output{
	display: none;
}

.demo-7 .footer-privancy-menu .ekit-vertical-main-menu-wraper ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
}

.demo-7 .footer-privancy-menu ul li{
	position: relative;
}

.demo-7 .footer-privancy-menu .ekit-vertical-navbar-nav li::before{
	content: "/";
	position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
	color: var(--e-global-color-white);
}

.demo-7 .footer-privancy-menu .ekit-vertical-navbar-nav li:first-child a{
	padding-left: 0 !important;
}

.demo-7 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child a{
	padding-right: 0 !important;
}

.demo-7 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child:before{
	display: none;
}

@media only screen and (max-width: 991px){
	
    .demo-7-footer.footer-work-together::before{
        height: 170px;
        width: 170px;
		opacity: 20%;
    }
}

@media only screen and (max-width: 767px){
	
	.demo-7-footer-newsletter-form .email-field{
		width: 70%;
	}

	.demo-7-footer-newsletter-form .form-btn{
		width: 30%;
	}
	
	.demo-7 .footer-privancy-menu .ekit-vertical-main-menu-wraper ul{
		justify-content: center;
	}
}

/* Home Page CSS [Demo-7] */

.demo-7 .hero .elementor-background-video-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180.07deg, rgba(0, 0, 0, 0) 0.06%, var(--e-global-color-black) 115.64%), linear-gradient(359.91deg, rgba(0, 0, 0, 0.5) 75.34%, var(--e-global-color-black) 99.95%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-7 .hero-counter .elementor-counter-number-wrapper{
	flex: 0;
	min-width: 80px;
}

.demo-7 .how-work-circle,
.demo-7 .hero-circle .e-text-path{
	animation: infiniterotate 30s infinite linear;
}


@keyframes infiniterotate{
	from{
		transform: rotate(0deg);
	  }
	to{
		transform: rotate(360deg);
	}
}

.demo-7 .hero-counter .elementor-counter .elementor-counter-title{
	padding-left: 20px;
}

.demo-7 .hero-img-1 img{
    aspect-ratio: 1 / 1.789;
	object-fit: cover;
}

.demo-7 .hero-img-2 img,
.demo-7 .hero-img-3 img{
    aspect-ratio: 1 / 0.84;
	object-fit: cover;
}

.demo-7 .hero-circle{
	transform: translate(-50%, -50%);
}

.demo-7 .agency-icon{
	transform: translate(-50%, -50%);
}

.demo-7 .agency-icon .elementor-icon-wrapper{
	line-height: 0;
}

.demo-7-about-us::before{
    right: -20px;
	left: auto;
	top: auto;
    bottom: 80px;
    width: 250px;
    height: 250px;
    animation: circlerotate7 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes circlerotate7{
	from{
		transform: translateY(0) rotate(0deg);
	}
	to{
		transform: translateY(-110%) rotate(360deg);
	}
}

.demo-7 .about-image-1 img{
	aspect-ratio: 1 / 1.161;
	object-fit: cover;
}

.demo-7 .about-image-2 img{
	aspect-ratio: 1 / 1.023;
	object-fit: cover;
}

.demo-7 .about-us-list{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-7 .about-us-list .elementor-icon-box-wrapper:hover .elementor-icon{
	transform: rotateY(180deg);
}

.demo-7 .about-us-list .elementor-icon-box-wrapper .elementor-icon,
.demo-7 .about-us-list .elementor-icon svg path{
	transition: all 0.4s ease-in-out;
}

.demo-7 .about-us-list .elementor-icon-box-wrapper:hover .elementor-icon svg path{
	color: var(--e-global-color-white);
}

.demo-7 .about-contact-box .elementskit-box-header{
	line-height: 0;
}

.demo-7 .about-contact-box .elementskit-info-box-icon{
	transition: all 0.4s ease-in-out;
}

.demo-7 .about-contact-box .elementskit-info-box-icon:before{
	content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-7 .about-contact-box:hover .elementskit-info-box-icon:before{
	transform: scale(1);
}

.demo-7 .about-contact-box .elementskit-info-box-icon svg{
	transition: all 0.4s ease-in-out;
}

.demo-7 .about-contact-box:hover .elementskit-info-box-icon svg{
	color: var(--e-global-color-black);
}

.demo-7 .service-item-box .elementskit-infobox{
	overflow: visible !important;
}
.demo-7 .service-item-box .elementskit-info-box-icon{
    position: relative;
    overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.demo-7 .service-item-box .elementskit-info-box-icon::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--e-global-color-accent);
    border-radius: 100%;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-7 .service-item-box .elementskit-infobox:hover .elementskit-info-box-icon::before{
    transform: scale(1);
}

.demo-7 .service-item-box .btn-wraper a svg{
	transition: all 0.4s ease-in-out;
}

.demo-7 .service-item-box .box-body{
	width: 100%;
	padding-right: 35px;
}

.demo-7 .service-item-box .box-footer{
	position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
}

.demo-7 .service-item-box .btn-wraper,
.demo-7 .service-item-box .elementskit-box-header{
	line-height: 0 !important;
}

.demo-7 .service-item-box .btn-wraper a:hover svg{
	transform: rotate(45deg);
}

.demo-7  .demo-7.what-we-do:before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-7 .what-we-do-item{
	position: relative;
    backdrop-filter: blur(100px);
    overflow: hidden !important;
}

.demo-7 .what-we-do-item:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--e-global-color-secondary);
	height: 100%;
	width: 100%;
	opacity: 40%;
	z-index: -1;
}

.demo-7 .what-we-do-item .box-body{
	text-align: left;
} 

.demo-7 .what-we-do-item .elementskit-infobox{
	justify-content: space-between;
}

.demo-7 .what-we-do-item .box-body p strong{
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
	color: var(--e-global-color-accent);
	margin-right: 5px;
}

.demo-7 .what-we-do-item .elementskit-box-header{
	line-height: 0;
}

.demo-7 .what-we-do-item .elementskit-info-box-icon svg{
		transition: all 0.4s ease-in-out;
}

.demo-7 .what-we-do-item:hover .elementskit-info-box-icon svg{
	transform: rotateY(180deg);
	color: var(--e-global-color-white);
}

.demo-7 .what-do-item-image img{
    aspect-ratio: 1 / 0.744;
	object-fit: cover;
}

.demo-7 .what-do-body-title{
	right: 100px;
}

.demo-7 .what-do-body-title h3 span{
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
	color: var(--e-global-color-accent);
	margin-right: 5px;
}

.demo-7 .what-we-do-content{
	right: 30px;
}

.demo-7 .what-do-image img{
	aspect-ratio: 1 / 1.365;
	object-fit: cover;
}

.demo-7 .what-do-image .elementor-widget-container{
	position: relative;
	overflow: hidden;
}

.demo-7 .what-do-image:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--e-global-color-black);
	height: 100%;
	width: 100%;
	opacity: 45%;
}

.demo-7-why-choose-image img{
	object-fit: contain;
    aspect-ratio: 1 / 1.08;
}

.demo-7 .why-choose-circle{
	animation: infiniterotate 30s infinite linear;
}

@keyframes infiniterotate{
	from{
		transform: rotate(0deg);
	  }
	to{
		transform: rotate(360deg);
	}
}

.demo-7-our-feature:before{
    top: 10%;
	right: -20px;
	bottom: auto;
	left: auto;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;	
}

@keyframes cuberotate{
	from{
		transform: translateY(0) rotate(0deg);
	  }
	to{
		transform: translateY(-90%) rotate(360deg);
	}
}

.demo-7 .digital-success-box{
	backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.demo-7 .feature-list-item .elementskit-info-box-icon svg{
	transition: all 0.4s ease-in-out;
}

.demo-7 .feature-list-item:hover .elementskit-info-box-icon svg{
	transform: rotateY(180deg);
}

.demo-7-service-footer p a{
    text-decoration: underline;
    color: var(--e-global-color-accent);
    transition: all 0.3s ease-in-out;
}

.demo-7-service-footer a:hover{
    color: var(--e-global-color-white);
}

.demo-7-our-brands:before{
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-7 .our-brands-box{
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
}

.demo-7 .brands-circle-image{
	animation: infiniterotate 30s infinite linear;
}

.demo-7 .fact-content-list .elementor-widget-container{
	position: relative;
	overflow: hidden;
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
}

.demo-7 .fact-content-list .elementor-widget-container:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
}

.demo-7 .fact-image img{
	aspect-ratio: 1 / 1.41;
    object-fit: cover;
}

.demo-7 .fact-content-image img{
	aspect-ratio: 1 / 1.22;
    object-fit: cover;
}

.demo-7-our-pricing::before{
    right: -20px;
    top: 80px;
	left: auto;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-7 .pricing-item{
	position: relative;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    overflow: hidden !important;
}

.demo-7 .pricing-item .elementskit-pricing-subtitle{
	margin: 0 !important;
}

.demo-7 .pricing-item .elementskit-pricing-price{
	line-height: 0 !important;
}

.demo-7 .elementskit-pricing-btn-wraper{
	line-height: 0;
}

.demo-7 .elementskit-pricing-btn-wraper .elementskit-pricing-btn{
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.demo-7 .elementskit-pricing-btn-wraper .elementskit-pricing-btn:before{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--e-global-color-primary);
    border-radius: 100px;
    opacity: 20%;
    width: 100%;
    height: 100%;
    z-index: -1;
	transition: all 0.4s ease-in-out;
}

.demo-7 .pricing-item .popular{
	transform: rotate(50deg);
}

.demo-7-testimonial-slider .elementskit-default-testimonial .elementkit-testimonial-col:first-child{
	flex: 0 0 calc(100% - 240px);
	max-width: calc(100% - 240px); 
}

.demo-7-testimonial-slider .elementskit-default-testimonial  .elementkit-testimonial-col:last-child{
	flex: 240px;
	max-width: 240px; 
}

.demo-7-testimonial-slider .elementskit-border-hr,
.demo-7-testimonial-slider .elementskit-profile-image-card:before{
	display: none;
}

.demo-7-testimonial-slider .elementskit-profile-info{
	position: relative;
	padding-right: 45px;
}

.demo-7-testimonial-slider .elementskit-profile-info::before{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	background: url('../images/testimonial-quote-icon.svg') no-repeat center;
	width: 30px;
	height: 30px;
	background-size: cover;
}

.demo-7-testimonial-slider .elementskit-profile-image-card{
	margin-left: 10px;
}

.demo-7-testimonial-slider .elementskit-profile-image-card img{
	width: 100%;
	max-width: 200px;
}

.demo-7-testimonial-slider .swiper-navigation-button{
    top: auto;
    bottom: 0;
    transition: all 0.4s ease-in-out;
}

.demo-7-testimonial-slider .swiper-navigation-button svg{
    width: 20px !important;
}

.demo-7-our-archievements::before{
    left: -60px;
    top: 50%;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-7 .archievement-img-1 img{
	aspect-ratio: 1 / 1.165;
}

.demo-7 .archievement-img-2 img{
	aspect-ratio: 1 / 0.775;
}

.demo-7 .archievement-img-3 img{
	aspect-ratio: 1 / 1.633;
}

.demo-7 .archievement-asterisk-image{
	animation: infiniterotate 30s infinite linear;
}

@keyframes infiniterotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.demo-7 .award-item-btn svg{
	width: 1em !important;
	height: auto;
}

.demo-7 .award-item-btn svg{
	transition: all 0.4s ease-in-out;
}

.demo-7 .award-item-btn svg:hover{
	transform: rotate(45deg);
}

@media only screen and (max-width: 991px){
		
	.demo-7 .hero-counter .elementor-counter-number-wrapper{
		min-width: 70px;
	}
	
	.demo-7 .hero-img-1 img{
		aspect-ratio: 1 / 1.4;
	}

	.demo-7 .hero-img-2 img,
	.demo-7 .hero-img-3 img{
		aspect-ratio: 1 / 0.655;
	}
	
	.demo-7-about-us::before{
		bottom: 20px;
        height: 170px;
        width: 170px;
	}
	
	.demo-7 .about-image-1 img{
		aspect-ratio: 1 / 0.98;
	}
	
	.demo-7 .about-image-2 img{
		aspect-ratio: 1 / 0.87;
	}
	
	.demo-7  .demo-7.what-we-do:before{
		top: 20px;
		height: 170px;
		width: 170px;
	}
	
	.demo-7 .what-we-do-item .box-body p strong{
		font-size: 24px;
	}
	
	.demo-7 .what-do-item-image img{
		aspect-ratio: 1 / 0.6;
	}
	
	.demo-7 .what-do-body-title{
		right: 20px;
	}
	
	.demo-7 .what-do-body-title h3 span{
		font-size: 24px;
	}

	.demo-7 .what-we-do-content{
		right: 20px;
	}
	
	.demo-7 .what-do-image img{
        aspect-ratio: 1 / 0.45;
    }
	
	.demo-7-why-choose-image img{
		aspect-ratio: 1 / 0.79;
	}
	
	.demo-7-our-feature::before{
        height: 170px;
        width: 170px;
    }
	
	.demo-7-our-brands:before{
		height: 170px;
		width: 170px;
	}
	
	.demo-7 .fact-image img{
		aspect-ratio: 1 / 0.5;
        object-position: top center;
	}

	.demo-7-our-pricing::before{
		top: 20px;
		height: 170px;
		width: 170px;
	}
	
	.demo-7-testimonial-slider .elementskit-default-testimonial .elementkit-testimonial-col:first-child{
		flex: 0 0 100%;
		max-width: 100%; 
	}

	.demo-7-testimonial-slider .elementskit-default-testimonial  .elementkit-testimonial-col:last-child{
		flex: 100%;
		max-width: 100%; 
	}

	.demo-7-testimonial-slider .elementskit-profile-image-card{
        text-align: center;
		margin-left: 0;
	}
	
	.demo-7-testimonial-slider .elementskit-profile-image-card img{
		max-width: 170px;
	}
	
	.demo-7-testimonial-slider .swiper-navigation-button svg{
		width: 16px !important;
	}

	.demo-7-our-archievements::before{
        height: 170px;
        width: 170px;
    }
}

@media only screen and (max-width: 767px){
	
	.demo-7 .hero-counter .elementor-counter-number-wrapper{
		min-width: 50px;
	}
	
	.demo-7 .hero-img-1 img{
		aspect-ratio: 1 / 2.051;
	}

	.demo-7 .hero-img-2 img,
	.demo-7 .hero-img-3 img{
		aspect-ratio: 1 / 0.96;
	}
	
	.demo-7 .agency-icon .elementor-icon-wrapper .elementor-icon{
		padding: 3px;
	}
	
	.demo-7 .about-us-list .about-list-item .elementor-icon-box-wrapper{
		align-items: center;
	}
	
	.demo-7 .about-image-1 img{
		aspect-ratio: 1 / 0.9;
	}
	
	.demo-7 .about-image-2 img{
		aspect-ratio: 1 / 0.8;
	}

	.demo-7 .service-item-box .box-body{
		padding-right: 25px;
	}
	
	.demo-7 .service-item-box .box-footer{
		top: 5px;
		transform: translateY(0%);
	}
	
	.demo-7 .what-we-do-item .box-body p strong{
		font-size: 20px;
	}

	.demo-7 .what-do-body-title h3 span{
		font-size: 20px;
	}

	.demo-7 .what-do-image img {
		aspect-ratio: 1 / 1.05;
	}
	
	.demo-7-why-choose-image img{
		 aspect-ratio: 1 / 0.98;
	}
	
	.demo-7 .digital-success-box::before{
		left: 10px;
		top: 10px;
		border-radius: 20px;
		width: calc(100% - 20px);
		height: calc(100% - 10px);
	}
	
	.demo-7 .fact-image img{
		aspect-ratio: 1 / 0.9;
        object-position: center;
	}
	
	.demo-7 .fact-content-image img{
		aspect-ratio: 1 / 0.9;
	}
	
	.demo-7 .pricing-benefit-list .elementor-widget-container ul{
        gap: 15px 10px;
	}

	.demo-7-testimonial-slider .elementskit-profile-image-card img{
		max-width: 150px;
	}

	.demo-7-testimonial-slider .swiper-navigation-button.swiper-button-prev,
	.demo-7-testimonial-slider .swiper-navigation-button.swiper-button-next{
		display: block !important;
		display: flex !important;
		align-items: center;
		justify-content: center;
	}
}

/* 	Hero Image CSS [Demo-7] */

.demo-7 .hero-image::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180.07deg, rgba(0, 0, 0, 0) 0.06%, var(--e-global-color-black) 115.64%), linear-gradient(359.91deg, rgba(0, 0, 0, 0.5) 75.34%, var(--e-global-color-black) 99.95%);
    height: 100%;
    width: 100%;
    z-index: 0;
}


/* Home Slider CSS [Demo-7] */

.demo-7-hero-slider .elementor-background-slideshow__slide__image::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180.07deg, rgba(0, 0, 0, 0) 0.06%, var(--e-global-color-black) 115.64%), linear-gradient(359.91deg, rgba(0, 0, 0, 0.5) 75.34%, var(--e-global-color-black) 99.95%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* About Us CSS [Demo-7] */

.demo-7-page-header::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.89%, var(--e-global-color-black) 126.31%), linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-7 .our-approch-image img{
	aspect-ratio: 1 / 0.517;
    object-fit: cover;
}

.demo-7 .vision-mission-image img{
	aspect-ratio: 1 / 1.26;
    object-fit: cover;
}

.demo-7 .vision-mission-content-box{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-7 .vision-mission-content-box .elementor-icon-box-icon svg{
	transition: all 0.4s ease-in-out;
}

.demo-7 .vision-mission-content-box:hover .elementor-icon-box-wrapper svg{
	transform: rotateY(180deg);
}

.demo-7 .vision-mission-content-box:hover .elementor-icon-box-wrapper svg path{
	stroke: var(--e-global-color-white);
}

.demo-7 .benefit-icon-box svg{
	transition: all 0.4s ease-in-out;
}

.demo-7  .benefit-icon-box:hover .elementor-icon-box-wrapper svg{
	transform: rotateY(180deg);
	color: var(--e-global-color-white);
}

.demo-7-company-experience:before{
	top: auto;
	left: auto;
    right: -20px;
    bottom: 80px;
    width: 250px;
    height: 250px;
    animation: circlerotate7 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;		
}

.demo-7 .company-support-box{
	position: relative;
	overflow: hidden !important;
}

.demo-7 .company-support-box::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--e-global-color-primary);
	border-radius: 30px;
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.demo-7 .company-support-box:hover:before{
	top: 0;
}

.demo-7 .company-support-icon-box a{
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.demo-7 .company-support-icon-box a svg{
	transition: all 0.3s ease-in-out;
}

.demo-7 .company-support-icon-box a:hover svg{
	transform: rotate(45deg);
	color: var(--e-global-color-black);
} 

.demo-7 .company-support-box a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--e-global-color-accent);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform: scale(0);
	transition: all 0.4s ease-in-out;
}

.demo-7 .company-support-box a:hover::before{
	transform: scale(1);
}

.demo-7 .experience-image img{
	object-fit: cover;
	aspect-ratio: 1 / 1.231
}

.demo-7 .experience-image-box-2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--e-global-color-accent);
    border-radius: 30px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
}

.demo-7 .experience-image-box-2 img{
	object-fit: cover;
	aspect-ratio: 1 / 1.772;
}

.demo-7 .team-image img{
	object-fit: cover;
    aspect-ratio: 1 / 1.0571;
	transition: all 0.4s ease-in-out;
}

.demo-7-team-social-list .ekit_social_media a{
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.demo-7 .team-social-icon ul li:last-child{
	margin-bottom: 0 !important; 
}
	
.demo-7 .team-item .team-social-icon{
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
	transform: translateY(-40px);
	top: auto;
}

.demo-7 .team-item:hover .team-image img{
	transform: scale(1.1);
}

.demo-7 .team-item:hover .demo-7-team-social-list ul li a{
	background: var(--e-global-color-accent);
}

.demo-7 .team-item:hover .team-social-icon{
	opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}

@media only screen and (max-width: 991px){

	.demo-7 .our-approch-image img{
		aspect-ratio: 1 / 0.48;
	}
	
	.demo-7 .vision-mission-image img{
		aspect-ratio: 1 / 1.05;
	}
	
	.demo-7-company-experience::before{
        height: 170px;
        width: 170px;
    }
	
	.demo-7 .experience-image img{
		aspect-ratio: 1 / 1.05;
	}	

	 .demo-7 .experience-image-box-2 img{
        aspect-ratio: 1 / 1.5;
    }
}

@media only screen and (max-width: 767px){
	
	.demo-7 .our-approch-image img{
		aspect-ratio: 1 / 0.52;
	}
	
	.demo-7 .vision-mission-image img{
		aspect-ratio: 1 / 0.95;
	}
	
	.demo-7 .vision-mission-content-box .elementor-icon-box-wrapper{
		align-items: center;
	}
	
	.demo-7 .benefit-icon-box .elementor-icon-box-wrapper{
		align-items: center;
	}
	
	.demo-7 .company-support-box::before{
		border-radius: 20px;
	}
	
	.demo-7 .experience-image img{
		aspect-ratio: 1 / 0.9;
	}
	
	.demo-7 .experience-image-box-2::before{
		border-radius: 20px;
	}

	.demo-7 .experience-image-box-2 img{
        aspect-ratio: 1 / 1.05;
    }
}

/* Contact Page CSS [Demo-7] */

.demo-7.page-contact-us:before{
    right: -20px;
	left: auto;
    top: 150px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes stonerotate{
    0%{
		transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(110%) rotate(360deg);
    }
}

.demo-7 .contact-info-image img{
	aspect-ratio: 1 / 0.65;
    object-fit: cover;
}

.demo-7 .contact-social-list ul li:last-child{
	margin: 0 !important;
}

.demo-7 .contact-social-list ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
}

.demo-7.google-map:before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-7.page-contact-us:before{
		height: 170px;
        width: 170px;
	}
		
	.demo-7 .contact-info-image img{
		aspect-ratio: 1 / 0.47;
	}
	
	.demo-7.google-map:before{
		top: 0;
        height: 170px;
        width: 170px;
	}
}

@media only screen and (max-width: 767px){
	
	.demo-7 .contact-info-image img{
		aspect-ratio: 1 / 0.65;
	}
}

/* Services Page CSS [Demo-7] */

.demo-7-page-services:before{
    left: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-7 .service-list-item .elementskit-infobox .elementskit-info-box-icon{
	transition: all 0.5s ease-in-out;
}

.demo-7 .service-list-item .elementskit-infobox .elementskit-info-box-icon:before{
	content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--e-global-color-accent);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
	z-index: -1;
}

.demo-7 .service-list-item .elementskit-infobox:hover .elementskit-info-box-icon:before{
	transform: scale(1);
}

.demo-7 .service-list-item .elementskit-infobox .btn-wraper{
	line-height: 0;
}

.demo-7 .service-list-item .elementskit-infobox .btn-wraper a{
	transition: all 0.4s ease-in-out;
}

.demo-7 .service-list-item .elementskit-infobox .btn-wraper a:hover{
	transform: rotate(45deg);
}

.demo-7 .faq-accordion .elementskit-card{
	position: relative;
	overflow: hidden;
	background-color: var(--e-global-color-black);
}

.demo-7 .faq-accordion .elementskit-card::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
}

.demo-7 .faq-accordion .elementskit-card .elementskit-btn-link{
	background-color: transparent !important;
}

.demo-7 .faq-accordion .elementskit-card .elementskit-card-body{
	position: relative;
}

@media only screen and (max-width: 991px){
	
	.demo-7-page-services:before{
		width: 170px;
        height: 170px;
	}
}

/* Service Single CSS [Demo-7] */

.demo-7-service-single-page::before{
	left: auto;
    right: -20px;
    top: 10%;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-7-service-single-page::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
    background: url('../images/demo-7-section-bg-shape-4.png') no-repeat;
    background-position: left center;
    background-size: cover;
    opacity: 50%;
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-7-service-single-page::after,
	.demo-7-service-single-page::before{
        width: 170px;
        height: 170px;
        opacity: 20%;
    }
}

/* Project Single CSS [Demo-7] */

.demo-7-project-single-page::before{
	left: auto;
    right: -20px;
    top: 15%;
    width: 250px;
    height: 250px;
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-7-project-single-page::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    background: url('../images/demo-7-section-bg-shape-1.png') no-repeat;
    background-position: left bottom;
    background-size: cover;
    width: 250px;
    height: 250px;
    opacity: 50%;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-7-project-single-page::after, 
	.demo-7-project-single-page::before{
        width: 170px;
        height: 170px;
		opacity: 20%;
    }
}

/* Team CSS [Demo-7] */

.demo-7-page-team::before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-7-page-team::before{
		width: 170px;
		height: 170px;
	}
	
}

/* Team Single CSS [Demo-7] */

.demo-7-team-single-page::before{
    left: -60px;
    top: 20%;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-7-team-single-page::before{
        width: 170px;
        height: 170px;
    }
}

/* Testimonial CSS [Demo-7] */

.demo-7-client-author-image img{
	aspect-ratio: 1 / 1.09;
	object-fit: cover; 
}

.demo-7-testimonial-page::before{
    left: -20px;
    top: 20%;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-7-testimonial-page::before{
        width: 170px;
        height: 170px;
    }
}

/* Image Gallery CSS [Demo-7] */

.demo-7-gallery-page::before{
    left: -20px;
    top: 35%;
    width: 250px;
    height: 250px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-7-gallery-page::before{
        width: 170px;
        height: 170px;
    }
}

/* Video Gallery CSS [Demo-7] */

.demo-7-page-video-gallery::before{
    left: -20px;
    top: 30%;
    width: 250px;
    height: 250px;
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-7-page-video-gallery::before{
        width: 170px;
        height: 170px;
    }
}

/* FAQ Page CSS [Demo-7] */

.demo-7-page-faq::before{
	left: -60px;
	top: 20%;
	width: 250px;
	height: 250px;
	transform: translateY(-50%);
	animation: cuberotate 10s infinite linear;
	animation-direction: alternate;
	z-index: 0;
}

@media only screen and (max-width: 991px){
	
	.demo-7-page-faq::before{
		width: 170px;
		height: 170px;
	}
}

/* Pricing Page Css */

.demo-7-page-pricing::before{
    left: -60px;
    top: 50%;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    animation: cuberotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-7-page-pricing::before{
        width: 170px;
        height: 170px;
    }
}