/*********************************************/
/***  Artistics - Design Agency ( demo-6 ) ***/
/*********************************************/

/*  Demo 6 Theme CSS  */

.demo-6 .page-header{
  	position: relative;
	background-attachment: fixed;
}

.demo-6 .page-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.84%, var(--e-global-color-black) 99.99%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-6 .page-header-box h1{
	font-size: 62px !important;
	line-height: 1.1em !important;
	margin-bottom: 20px;
}

.demo-6 .page-header-box .breadcrumb-trail {
    line-height: 1.2em;
}

@media only screen and (max-width: 991px){
	
	.demo-6 .page-header{
		background-attachment: inherit;
	}
	
	 .demo-6 .page-header {
        padding: 181px 0 100px;
    }
	
	.demo-6 .page-header-box h1 {
        font-size: 50px !important;
		margin-bottom: 15px;
    }
	
}

@media only screen and (max-width: 767px){
	
	.demo-6 .page-header-box h1 {
        font-size: 30px !important;
    }
	
}

/* Project Archive ( demo-6 ) */

.demo-6 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__image{
	margin: 0;
}

.demo-6 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img,
.demo-6 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
	aspect-ratio: 1 / 0.992 !important;
}

.demo-6 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img:before{
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.58%, var(--e-global-color-black) 107.74%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-6 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__content{
	position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 20px;	
}

@media only screen and (max-width: 991px){
	
	.awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__image{
		border-radius: 20px;
	}
	
	.demo-6 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img,
	.demo-6 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img img{
		aspect-ratio: 1 / 0.9 !important;
	}
	
	.awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories{
		top: 15px;
		right: 15px;
	}
	
}

@media only screen and (max-width: 767px){
	
	.demo-6 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__content{
		padding: 15px;	
	}
	
	.demo-6 .awaiken-portfolio-item-design-1.awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__title {
        font-size: 18px;
    }
}


/***************************************/
/*** Elementor Pages CSS ( demo 6 )  ***/
/***************************************/

/* Elementor Footer CSS */

.demo-6 .footer-work-together:before{
    right: -20px;
	left: auto;
    top: 50%;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    animation: ringrotare6 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes ringrotare6{
	from{
		transform: translateY(0) rotate(0deg);
	  }
	to{
		transform: translateY(-100%) rotate(360deg);
	}
}

.demo-6 .footer-service .ekit-vertical-menu-container ul li:last-child a{
	padding-bottom: 0 !important;
}

.demo-6 .footer-newsletter-form .form-group{
	align-items: center;
	gap: 0;
	justify-content: left;
}

.demo-6 .footer-newsletter-form .form-group .email-field{
    width: 77%;
}

.demo-6 .footer-newsletter-form .form-group>p{
    width: 23%;
}

.demo-6 .footer-newsletter-form button{
	padding: 19px 18px !important;
	border-radius: 100px !important;
}

.demo-6 .footer-newsletter-form .wpcf7-not-valid-tip,
.demo-6 .footer-newsletter-form .wpcf7-response-output{
	display: none;
}

.demo-6 .footer-social-list .elementor-widget-container ul li{
	position: relative;
}

.demo-6 .footer-social-list .elementor-widget-container ul li:before{
	content: '/';
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    color: var(--e-global-color-text);
}

.demo-6 .footer-social-list .elementor-widget-container ul li:last-child:before{
	display: none;
}

.demo-6 .footer-social-list .elementor-widget-container ul li:last-child{
	margin-right: 0;
}

.demo-6 .footer-social-list .elementor-widget-container ul li:last-child a{
	padding-right: 0;
}

.demo-6 .footer-contact-list .elementor-heading-title,
.demo-6 .footer-contact-list .elementor-heading-title a{
	transition: all 0.4s ease-in-out;
}

.demo-6 .footer-contact-list:hover .elementor-heading-title,
.demo-6 .footer-contact-list:hover .elementor-heading-title a{
	color: var(--e-global-color-accent);
}

.demo-6 .footer-privancy-menu .ekit-vertical-main-menu-wraper ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.demo-6 .footer-privancy-menu ul li{
	position: relative;
}

.demo-6 .footer-privancy-menu .ekit-vertical-navbar-nav li::before{
	content: "/";
	position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
	color: var(--e-global-color-white);
}

.demo-6 .footer-privancy-menu .ekit-vertical-navbar-nav li:first-child a{
	padding-left: 0 !important;
}

.demo-6 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child a{
	padding-right: 0 !important;
}

.demo-6 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child:before{
	display: none;
}

@media only screen and (max-width: 991px){
	
	.demo-6 .footer-work-together:before{
		width: 180px;
        height: 180px;
	}
	
	.demo-6 .footer-newsletter-form .form-group .email-field{
		width: 72;
	}

	.demo-6 .footer-newsletter-form .form-group>p{
		width: 28%;
	}
	
	.demo-6 .footer-newsletter-form button{
		padding: 16px 18px !important;
	}
	
}

@media only screen and (max-width: 767px){
	
	.demo-6 .footer-service .ekit-vertical-menu-container ul li a{
		padding-bottom: 10px !important;
	}
	
	.demo-6 .footer-newsletter-form button{
		font-size: 14px;
    	padding: 15px 10px 14px 10px !important;
	}
	
	.demo-6 .footer-privancy-menu .ekit-vertical-menu-container ul li a{
		padding: 0px 14px 0px 7px !important;
	}
	
}

/* Home CSS [Demo-6] */

.demo-6 .hero .elementor-background-video-container:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(179.5deg, rgba(0, 0, 0, 0.3) 0.44%, var(--e-global-color-black) 119.12%), linear-gradient(0.62deg, rgba(0, 0, 0, 0) 81.46%, var(--e-global-color-black) 99.49%);;
    height: 100%;
    width: 100%;
	z-index: 1;
}

.demo-6 .hero-contact-box .ekit-wid-con .elementskit-infobox .elementskit-info-box-icon svg{
	width: auto !important;
	height: auto;
}

.demo-6 .hero-contact-box .ekit-wid-con .elementskit-infobox .elementskit-info-box-icon{
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.demo-6 .hero-contact-box .ekit-wid-con .elementskit-infobox .elementskit-info-box-icon:before{
	content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    width: 100%;
    height: 100%;
	border-radius: 50%;
	transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-6 .hero-contact-box:hover .ekit-wid-con .elementskit-infobox .elementskit-info-box-icon:before{
	transform: scale(1);
}

.demo-6 .hero-circle .elementor-widget-container{
	animation: exploremorerotate 25s infinite linear;
}

.demo-6 .hero-circle .agency-icon{
	transform: translate(-50%, -50%);
}

.demo-6 .hero-img img{
    aspect-ratio: 1 / 1.13;
	object-fit: contain;
    transition: all 0.3s ease-in-out;
}

.demo-6 .hero-img img:hover{
	filter: grayscale(100%);
}

.demo-6 .hero-tag{
	animation: herotagmove 3s infinite linear alternate;
}

.demo-6 .hero-tag .elementor-widget-container{
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.demo-6 .hero-tag .elementor-widget-container::before{
	content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background: var(--e-global-color-primary);
	border-radius: 100px;
    width: 100%;
    height: 0;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-6 .hero-tag .elementor-widget-container:hover::before{
	bottom: 0;
	top: auto;
	height: 100%;
}

@keyframes herotagmove{
	50%{
		left: 65px;
	}
}

.demo-6 .our-scrolling-ticker .ekit-content-items .ekit-marquee .ekit-marquee-item img{
	max-width: 140px;
}

.demo-6-about-us::before{
	content: '';
    display: block;
    position: absolute;
	top: auto;
	left: auto;
    right: -20px;
    bottom: 80px;
    width: 250px;
    height: 250px;
    opacity: 40%;
    animation: circlerotate6 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes circlerotate6{
	from{
		transform: translateY(0) rotate(0deg);
	}
	to{
		transform: translateY(-110%) rotate(360deg);
	}
}

.demo-6 .authore-image .elementor-widget-container{
	z-index: 0;
}

.demo-6-satisfy-client-content .elementor-counter-number-wrapper{
	flex: 0;
}

.demo-6-satisfy-client-content .elementor-counter-title{
	justify-content: start;
}

.demo-6 .about-counter .elementor-widget-container{
	display: flex;
    align-items: center;
    justify-content: center;
	width: 40px;
    height: 40px;
}

.demo-6 .about-author-box .elementskit-box-header{
	display: block;
	width: 100px;
    border-radius: 100px;
    filter: drop-shadow(5px 5px 0px var(--e-global-color-black));
}

.demo-6 .about-author-box .elementskit-box-header:after{
	content: "";
    position: absolute;
    width: 215%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

.demo-6 .about-author-box .elementskit-box-header:hover:after{
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}

.demo-6 .about-us-img img{
	aspect-ratio: 1 / 1.5;
    object-fit: cover;
}

.demo-6 .about-circle.hero-circle{
	transform: translateX(-50%);
}

.demo-6-about-us-body .elementskit-infobox{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-6-about-us-body .elementskit-infobox::after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
    z-index: -1;	
} 

.demo-6 .about-list-item .ekit-wid-con .elementskit-infobox .elementskit-info-box-icon{
	transition: all 0.4s ease-in-out;
}

.demo-6 .about-list-item:hover .ekit-wid-con .elementskit-infobox .elementskit-info-box-icon{
    transform: rotateY(180deg);
}

.demo-6-service-item{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-6 .service-image img{
	aspect-ratio: 1 / 0.45;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.demo-6-service-item .service-body svg{
	transition: all 0.4s ease-in-out;
}
    
.demo-6-service-item:hover .service-body svg{
	 transform: rotateY(180deg);
}

.demo-6-service-item:hover .service-body svg path{
	color: var(--e-global-color-white);
}

.demo-6-service-item:hover .service-image img{
	transform: scale(1.1);
}

.demo-6-service-item .service-btn svg{
	transition: all 0.3s ease-in-out;
}

.demo-6-service-item .service-btn a:hover svg{
	transform: rotate(45deg);
}

.demo-6-service-footer p a{
	font-weight: 600;
	text-decoration: underline;
	color: var(--e-global-color-accent);
	transition: all 0.3s ease-in-out;
}

.demo-6-service-footer a:hover{
	color: var(--e-global-color-white);
}

.demo-6-what-we-do::before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-6 .what-we-do-img-1 img{
	aspect-ratio: 1 / 0.58;
	object-fit: cover;
}

.demo-6 .what-we-do-img-2 img{
	aspect-ratio: 1 / 0.711;
	object-fit: cover;
}

.demo-6 .what-we-do-img-3 img{
	aspect-ratio: 1 / 0.997;
	object-fit: cover;
}

.demo-6 .why-choose-box .elementskit-infobox{
    position: relative;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    overflow: hidden;
}

.demo-6 .why-choose-box .elementskit-infobox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.demo-6 .why-choose-box .elementskit-infobox .elementskit-info-box-icon svg{
	width: 1em !important;
	transition: all 0.4s ease-in-out;
}

.demo-6 .why-choose-box .elementskit-infobox:hover .elementskit-info-box-icon svg{
	transform: rotatey(180deg);
} 

.demo-6 .why-choose-circle img {
    animation: infiniterotate 30s infinite linear;
}

.demo-6 .why-choose-image{
	 transform: translate(-50%, -50%);
}

.demo-6 .why-choose-image img {
    aspect-ratio: 1 / 1.1;
    object-fit: cover;
}

.demo-6-our-facts::before{
    left: -20px;
	right: auto;
    top: 80px;
	bottom: auto;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-6 .agency-icon .elementor-icon-wrapper{
	line-height: 0;
}

.demo-6 .fact-image img{
	aspect-ratio: 1 / 1.54;
	object-fit: cover;
}

.demo-6 .fact-circle-image {
	animation: exploremorerotate 25s infinite linear;
}

@keyframes exploremorerotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.demo-6 .facts-counter-icon .elementor-icon-wrapper{
	line-height: 0;
}

.demo-6 .facts-counter-icon svg path{
	fill: none;
}

.demo-6 .fact-counter .elementor-counter-number-wrapper{
	flex: 0;
	padding-right: 12px;
}

.demo-6 .fact-counter .elementor-counter{
	justify-content: start;
	align-items: center;
}

.demo-6 .fact-counter .elementor-counter-title{
	max-width: 65%;
}

.demo-6-pricing-box .elementskit-single-pricing{
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
    gap: 30px;
    text-align: left !important;
}

.demo-6-pricing-box .elementskit-single-pricing .elementskit-pricing-price-wraper{
	background-color: var(--e-global-color-secondary);
	border-radius: 10px;
} 

.demo-6-pricing-box.demo-6-highlighted-box .elementskit-single-pricing .elementskit-pricing-price-wraper{
	background-color: var(--e-global-color-accent);
}

.demo-6-pricing-box .elementskit-single-pricing .elementskit-pricing-price-wraper .elementskit-pricing-price{
	display: flex;
}

.demo-6-pricing-box .elementskit-single-pricing .elementskit-pricing-price>sup{
	left: 0;
}

.demo-6-pricing-box .ekit-wid-con .elementskit-pricing-header p{
    margin: 0;
}

.demo-6-pricing-box .ekit-wid-con .elementskit-pricing-content{
    width: 100%;
}

.demo-6-pricing-box .ekit-wid-con .elementskit-pricing-btn-wraper{
	line-height: 0;
	width: 100%;
}

.demo-6-pricing-box .ekit-wid-con .elementskit-pricing-btn{
	position: relative;
	overflow: hidden;
}

.demo-6-pricing-box .ekit-wid-con .elementskit-pricing-btn:before{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--e-global-color-primary);
    border-radius: 100px;
    opacity: 20%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.demo-6-our-testimonials::before{
    right: -20px;
	left: auto;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-6 .testimonial-item .elementskit-single-testimonial-slider{
     backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
	overflow: hidden;
	display: flex !important;
	flex-direction: column-reverse !important;
}

.demo-6 .testimonial-item .elementskit-single-testimonial-slider::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.demo-6 .testimonial-item .elementskit-commentor-image{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.demo-6 .testimonial-item .elementskit-commentor-image::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
} 

.demo-6 .testimonial-item .elementskit-commentor-image:hover:after{
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}

.demo-6 .testimonial-item .elementskit-icon-content{
	position: absolute !important;
	top: 40px;
	left: auto;
	right: 30px;
}

.demo-6 .testimonial-item .elementskit-single-testimonial-slider .elementskit-watermark-icon > svg{
	width: 30px !important;
}

.demo-6 .testimonial-item .elementskit-stars{
	line-height: 0;
}

.demo-6 .testimonial-item .elementskit-stars svg{
	height: 1em;
}

.demo-6 .testimonial-item .swiper-navigation-button{
    top: auto;
    bottom: 0;
	transition: all 0.4s ease-in-out;
}

.demo-6 .testimonial-item .swiper-navigation-button svg{
	width: 1em !important;
	transform: rotate(45deg);
}

.demo-6 .testimonial-item .swiper-button-prev svg{
	transform: rotate(225deg) !important;
}

.demo-6.our-faqs::before{
	top: auto;
    left: -20px;
    bottom: 80px;
    width: 250px;
    height: 250px;
    animation: circlerotate6 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-6 .faqs-img img{
    aspect-ratio: 1 / 1.1;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.demo-6 .faqs-image:hover .faqs-img img{
	transform: scale(1.1);
}

.demo-6 .faqs-image .faqs-img .elementor-widget-container:before{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.01%, rgba(0, 0, 0, 0.9) 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.demo-6 .faqs-content{
	right: 100px;
}

.demo-6 .faqs-content-btn .elementskit-box-header{
	line-height: 0;
}

.demo-6 .faqs-content-btn .elementskit-info-box-icon{
	position: relative;
	z-index: 1;
} 

.demo-6 .faqs-content-btn .elementskit-info-box-icon:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: var(--e-global-color-primary)!important;
	transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: -1;	
}

.demo-6 .faqs-content-btn a:hover .elementskit-info-box-icon:before{
	transform: scale(1);
}

.demo-6 .faq-accordion .elementskit-card.active .elementskit-card-body{
	position: relative;
}

.demo-6 .faq-accordion .elementskit-card.active .elementskit-card-body:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 26.48%, rgba(0, 0, 0, 0) 155.74%);
	border-radius: 0 0 10px 10px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

@media only screen and (max-width: 991px){
	
	.demo-6 .hero-img img{
		aspect-ratio: 1 / 0.9;
	}
	
	.demo-6-about-us::before{
		bottom: 20px;
        width: 170px;
        height: 170px;
	}
	
	.demo-6 .about-author-box .elementskit-box-header{
		width: 80px;
	}
	
	.demo-6-what-we-do::before{
   		top: 20px;
        width: 170px;
        height: 170px;
	}
	
	.demo-6-our-facts::before{
		top: 20px;
        width: 170px;
        height: 170px;
	}
	
	.demo-6 .fact-image img{
    	aspect-ratio: 1 / 1.04;
	}
	
	.demo-6-pricing-box .elementskit-single-pricing{
		gap: 20px;
	}
	
	.demo-6-our-testimonials::before{
    	top: 20px;
        width: 170px;
        height: 170px;
	}
	
	.demo-6 .testimonial-item .elementskit-icon-content{
		right: 20px;
	}
	
	.demo-6 .testimonial-item .elementskit-commentor-content{
		margin-bottom: 0;
	}
	
	.demo-6.our-faqs::before{
		bottom: 20px;
		width: 170px;
		height: 170px;
	}
	
	.demo-6 .faqs-content{
		right: 20px;
	}
	
	.demo-6 .faqs-img img{
		aspect-ratio: 1 / 0.6;
        object-position: top center;
	}
	
}

@media only screen and (max-width: 767px){
	
	@keyframes herotagmove{
		50%{
			left: 30px;
		}
	}
	
	.demo-6 .our-scrolling-ticker .ekit-content-items .ekit-marquee .ekit-marquee-item img{
		max-width: 100px;
	}
	
	.demo-6-satisfy-client-content .elementor-counter-title{
		justify-content: start;
	}
		
	.demo-6 .about-author-box .elementskit-box-header{
		width: 60px;
	}

	.demo-6 .about-us-img img{
		aspect-ratio: 1 / 1.1;
	}
	
	.demo-6 .fact-circle-image{
        position: absolute;
        top: -50%;
        transform: translate(-50%, 0);
	}
	
	.demo-6 .fact-counter .elementor-counter-number-wrapper{
		flex: 0;
		padding-right: 8px;
	}
	
	.demo-6 .agency-icon .elementor-icon-wrapper a{
		padding: 0 !important;
	}
	
	.demo-6 .pricing-benefit-list .elementor-widget-container ul{
        gap: 15px 10px;
    }
	
	.demo-6 .testimonial-item .swiper-navigation-button.swiper-button-prev,
	.demo-6 .testimonial-item .swiper-navigation-button.swiper-button-next{
		display: block !important;
		display: flex !important;
		align-items: center;
		justify-content: center;
	}
	
	.demo-6 .faqs-img img{
		aspect-ratio: 1 / 1.1;
        object-position: center center;
	}
	
}

/* Home Image CSS [Demo-6] */

.demo-6-hero-bg-image::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(179.5deg, rgba(0, 0, 0, 0.3) 0.44%, var(--e-global-color-black) 119.12%), linear-gradient(0.62deg, rgba(0, 0, 0, 0) 81.46%, var(--e-global-color-black) 99.49%);
    height: 100%;
    width: 100%;
    z-index: 0;
}

/* Home Slider CSS [Demo-6] */

.demo-6-hero-slider .elementor-background-slideshow__slide__image::before{
	 content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(179.5deg, rgba(0, 0, 0, 0.3) 0.44%, var(--e-global-color-black) 119.12%), linear-gradient(0.62deg, rgba(0, 0, 0, 0) 81.46%, var(--e-global-color-black) 99.49%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* About Us CSS [Demo-6] */

.demo-6-page-header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.84%, var(--e-global-color-black) 99.99%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    height: 100%;
    width: 100%;
    z-index: 0;
}

.demo-6 .breadcrumb-item ol li{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1em;
}

.demo-6 h1.elementor-heading-title span{
    font-weight: 700;
}

.demo-6 .approach-goal-img img{
	aspect-ratio: 1 / 0.32;
    object-fit: cover;
}

.demo-6 .approach-goal-img .elementor-widget-container:before{
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62.8%, rgba(0, 0, 0, 0.8) 101.49%);
    z-index: 1;
}

.demo-6 .mission-vision-item{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
	overflow: hidden;
	z-index: 1;
}

.demo-6-why-choose-us::before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    opacity: 40%;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-6.why-choose-us:before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-6 .our-benefit-image-1 img{
	aspect-ratio: 1 / 1.07;
	object-fit: cover;
}

.demo-6 .our-benefit-image-2 img {
    aspect-ratio: 1 / 0.54;
	object-fit: cover;
}

.demo-6 .our-benefit-image-2 .elementor-widget-container::after{
	z-index: 0;
}

.demo-6 .company-experience .elementor-counter-title{
	margin-left: 10px;
	line-height: 1 !important;
}

.demo-6 .company-experience .elementor-widget-container{
	position:relative;
	overflow: hidden;
	
	z-index: 1;
}

.demo-6 .company-experience{
	animation: experienceobject 3s infinite linear alternate;	
}

@keyframes experienceobject{
	50%{
		right: 30px;
	}
}

.demo-6 .company-experience .elementor-widget-container::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background: var(--e-global-color-primary);
    width: 100%;
    height: 0;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-6 .company-experience .elementor-widget-container:hover::before{
	bottom: 0;
	top: auto;
	height: 100%;
}

.column-2.demo-6-our-benefit-list ul{
	gap: 20px 30px;
}

.demo-6-our-facts.demo-6-about-our-facts::before{
	left: auto;
    right: -20px;
    top: 80px;
}

.demo-6 .team-item {
    position: relative;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    z-index: 1;
}

.demo-6 .team-item .team-image img{
    aspect-ratio: 1 / 0.96;
    object-fit: cover;
	transition: all 0.4s ease-in-out;
}

.demo-6 .team-item:hover .team-image img{
	transform: scale(1.1);
	filter: grayscale(100%);
}

.demo-6 .team-item .team-social-icon ul li:first-child{
	margin: 0 !important;
}

.demo-6 .team-item .team-social-icon{
	right: 20px;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: all 0.4s ease-in-out;
}

.demo-6 .team-item:hover .team-social-icon{
	bottom: 20px;
	opacity: 1;
	visibility: visible;
}

.demo-6 .team-item .team-social-icon ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
}

.demo-6-our-testimonials.demo-6-about-us-testimonials::before{
	right: auto;
	left: -20px;
	top: 80px;
}

.demo-6 .our-clients-box{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
	z-index: 1;
}

.demo-6 .agency-supports-slider-box .swiper-slide-inner{
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
	border: 1px solid var(--e-global-color-divider);
	border-radius: 10px;
	background: var(--e-global-color-secondary);
	padding: 25px 30px;
	overflow: hidden;
}

.demo-6 .agency-supports-slider-box .swiper-slide-inner::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--e-global-color-secondary);
	opacity: 40%;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.demo-6 .agency-supports-slider-box .swiper-slide-inner img{
	width: 100%;
	height: 30px;
}

@media only screen and (max-width: 991px){
	
	.demo-6 .breadcrumb-item ol li{
		font-size: 16px;
	}
	
	.demo-6 .approach-goal-img img{
		aspect-ratio: 1 / 0.42;
	}
	
	.demo-6-why-choose-us::before{
		top: 20px;
		width: 170px;
		height: 170px;
	}
	
	.column-2.demo-6-our-benefit-list ul{
		gap: 15px 30px;
	}
	
	.demo-6-our-facts.demo-6-about-our-facts::before{
		top: 20px;
	}
	
	.demo-6 .team-item .team-image img{
        aspect-ratio: 1 / 0.85;
    }
	
	.demo-6-our-testimonials.demo-6-about-us-testimonials::before{
		top: 20px;
	}
	
	.demo-6 .agency-supports-slider-box .swiper-slide-inner{
		padding: 20px 15px;
	}
	
}

@media only screen and (max-width: 767px){
	
	.demo-6 .breadcrumb-item ol li{
		font-size: 14px;
	}
	
	.column-2.demo-6-our-benefit-list ul {
        gap: 10px 20px;
    }
	
	.demo-6 .approach-goal-img img{
		aspect-ratio: 1 / 0.82;
	}
	
	.demo-6 .agency-supports-slider-box .swiper-slide-inner{
		padding: 15px 10px;
	}

	.demo-6 .agency-supports-slider-box .swiper-slide-inner img{
		height: 24px;
	}
	
}

/* Service Page Css [Demo-6] */

.demo-6-page-services::before{
    left: -20px;
    top: 80px;
    width: 250px;
	height: 250px;
	opacity: 40%;
	animation: stonerotate 10s infinite linear;
	animation-direction: alternate;
	z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-6-page-services::before{
        width: 170px;
        height: 170px;
    }
	
}

/* Service Single Page Css [Demo-6] */

.demo-6-service-single-page::before{
	left: auto;
    right: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-6-service-single-page::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    background: url('./../images/demo-6-section-bg-shape-4.png') no-repeat;
    background-position: left top;
    background-size: cover;
    width: 250px;
    height: 250px;
    opacity: 40%;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-6-service-single-page::after, 
	.demo-6-service-single-page::before{
        width: 170px;
        height: 170px;
        opacity: 20%;
    }
	
}

/* Our Projects CSS [Demo-6] */

.demo-6-our-projects::before{
	left: auto;
    right: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991x){
	
	.demo-6-our-projects::before{
        top: 20px;
        width: 170px;
        height: 170px;
    }
	
}

/* Project Details CSS [Demo-6] */

.demo-6-project-single-page::before{
	left: auto;
    right: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-6-project-single-page::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    background: url("./../images/demo-6-section-bg-shape-6.png") no-repeat;
    background-position: left bottom;
    background-size: cover;
    width: 250px;
    height: 250px;
    opacity: 40%;
    animation: circlerotate6 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-6-project-single-page::before{
		width: 170px;
		height: 170px;
	}
	
	.demo-6-project-single-page::after{
		width: 170px;
        height: 170px;
        opacity: 20%;
	}
	
}

/* Team Page Css [Demo-6] */

.demo-6-page-team::before{
    left: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-6-page-team::before{
        width: 170px;
        height: 170px;
    }
	
}

/* Team Single Page Css [Demo-6] */

.demo-6-team-single-page::before{
    left: -20px;
	top: 120px;
	width: 250px;
	height: 250px;
	animation: stonerotate 10s infinite linear;
	animation-direction: alternate;
	z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-6-team-single-page::before{
        top: 20%;
        width: 170px;
        height: 170px;
    }
	
}

/* Pricing Plan CSS [Demo-6] */

.demo-6-pricing-plan::before{
	left: auto;
    right: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-6-pricing-plan::before{
		width: 170px;
		height: 170px;
	}
	
}

/* Testiminial Page Css [Demo-6] */

.demo-6-testimonial-page::before{
	left: auto;
    right: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
}

@media only screen and (max-width: 991px){
	
    .demo-6-testimonial-page::before{
        width: 150px;
        height: 150px;
    }
	
}

/* Image Gallery CSS [Demo-6] */

.demo-6-gallery-page::before{
    left: -20px;
    top: 30%;
    width: 250px;
    height: 250px;
    animation: circlerotate6 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-6-gallery-page::before{
        width: 160px;
        height: 160px;
    }
	
}

/* Video Gallery CSS [Demo-6] */

.demo-6-page-video-gallery::before{
    left: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-6-page-video-gallery::before{
		width: 160px;
        height: 160px;
        top: 100px;
    }
	
}

/* FAQ Page CSS [Demo-6] */

.demo-6-page-faq::before{
    left: -20px;
    top: 30%;
    width: 250px;
    height: 250px;
    animation: circlerotate6 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-6-page-faq::before{
        width: 180px;
        height: 180px;
    }
	
}

/* Contact us CSS [Demo-6] */

.demo-6 .page-contact-us:before{
    left: -20px;
	right: auto;
    top: 40%;
	bottom: auto;
    width: 250px;
    height: 250px;
    animation: stonerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes stonerotate{
	0% {
		transform: translateY(0) rotate(0deg);
	}
	100% {
		transform: translateY(110%) rotate(360deg);
	}
}

.demo-6 .contact-box{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-6 .contact-info-item .elementskit-infobox .elementskit-box-header{
	line-height: 0;
}

.demo-6 .contact-info-item .elementskit-infobox{
	position: relative;
}

.demo-6 .contact-info-item .elementskit-infobox:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    opacity: 10%;
    height: 100%;
    width: 100%;
}

.demo-6 .contact-info-item .elementskit-infobox .elementskit-info-box-icon:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    transform: scale(0);
    height: 100%;
    width: 100%;
    border-radius: 50%;
	z-index: -1;
	transition: all 0.4s ease-in-out;
}

.demo-6 .contact-info-item .elementskit-infobox:hover .elementskit-info-box-icon:before{
	transform: scale(1);
}

.demo-6 .contact-social-list ul li:first-child{
	margin-left: 0 !important;
}

.demo-6 .google-map .elementor-custom-embed iframe{
	filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.demo-6 .google-map .elementor-custom-embed iframe:hover{
	filter: grayscale(0%);
}

@media only screen and (max-width: 991px){
	
	.demo-6 .page-contact-us:before{
		width: 170px;
        height: 170px;
        top: 20px;
	}
	
}