/***************************************************/
/****  Artistics - Saas Tech Startup ( demo-8 ) ****/
/***************************************************/

/*  Demo 8 Theme CSS  */

.demo-8 header.main-header{
    position: absolute;
    top: 0;
    width: 100%;
}

.demo-8 .page-header{
	position: relative;
	background-attachment: fixed;
    padding: 250px 0 150px;
    margin-top: 0;
}

.demo-8 .page-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.84%, var(--e-global-color-black) 99.99%),linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-8 .page-header-box h1{
    font-size: 68px !important;
}

.demo-8 .page-header-box .breadcrumb-trail{
    line-height: 1.2em;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .page-header{
		background-attachment: inherit;
		padding: 180px 0 80px;
	}
	
	.demo-8 .page-header-box h1 {
		font-size: 50px !important;
	}
}

@media only screen and (max-width: 767px){
	
	.demo-8 .page-header-box h1 {
		font-size: 30px !important;
		margin-bottom: 5px;
	}
	
	.demo-8 .page-header-box .trail-items, 
	.demo-8 .page-header-box .post-meta ul{
        font-size: 14px;
    }
	
	.demo-8 .post-single-meta ul li{
        font-size: 14px;
    }
}

/* Project Archive ( demo-8 ) */

.demo-8 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories ul li a, 
.demo-8 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories a{
	line-height: 1.3em;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .awaiken-portfolio-grid__filters{
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 767px){
		
	.demo-8 .awaiken-portfolio-grid__filters.portfolio_filter-design-1 li{
		padding: 8px 10px;
	}
}

/***************************************/
/*** Elementor Pages CSS ( demo 8 )  ***/
/***************************************/

/* Elementor Header CSS */

.demo-8 .header-contact-box .elementskit-info-box-icon{
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 991px){
	
	.demo-9 .elementskit-navbar-nav > li > a .elementskit-submenu-indicator{
		color: var(--e-global-color-black) !important;
	}
	
	.demo-9 .elementskit-navbar-nav > li.current-menu-ancestor > a .elementskit-submenu-indicator{
		color: var(--e-global-color-white) !important
	}
}

/* Elementor Footer CSS [Demo-8] */

.demo-8 .work-together-btn{
	padding-right: 0 !important;
}

.demo-8 .work-together-btn .elementor-button{
	height: var(--container-widget-width);
} 

.demo-8 .footer-work-together::before{
	left: auto;
    right: -20px;
    top: 50%;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
	opacity: 50%;
    animation: circlerotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes circlerotate8{
	0%{
		transform: translateY(0) rotate(0);
	}
	100%{
		transform: translateY(-100%) rotate(360deg);
	}
}

.demo-8 .footer-contact-btn .elementskit-box-header{
	line-height: 0;
} 

.demo-8 .footer-contact-btn .elementskit-box-header svg{
	transition: all 0.4s ease-in-out;
}

.demo-8 .demo-8-newsletter-form .wpcf7-form-control{
	width: 100%;
} 

.demo-8 .demo-8-newsletter-form .wpcf7-not-valid-tip,
.demo-8 .demo-8-newsletter-form .wpcf7-response-output{
	display: none;
}

.demo-8 .footer-privancy-menu ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.demo-8 .footer-privancy-menu ul li{
	position: relative;
}

.demo-8 .footer-privancy-menu .ekit-vertical-navbar-nav li::before{
	content: "/";
	position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
	color: var(--e-global-color-white);
}

.demo-8 .footer-privancy-menu .ekit-vertical-navbar-nav li:first-child a{
	padding-left: 0 !important;
}

.demo-8 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child a{
	padding-right: 0 !important;
}

.demo-8 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child:before{
	display: none;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .footer-work-together::before{
        height: 170px;
        width: 170px;
        opacity: 20%;
    }
		
	.demo-8 .footer-links ul li a{
		padding-bottom: 10px !important;
	}	
}

@media only screen and (max-width: 767px){
	
	.demo-8 .footer-privancy-menu .ekit-vertical-menu-container ul li a{
		padding: 0px 14px 0px 7px !important;
	}
	
	.demo-8 .footer-social-icon ul li:first-child{
		margin-left: 0 !important;
	}
}

/*  Home Page CSS [Demo-8]  */

.demo-8 h1.elementor-heading-title span{
	font-weight: 700; 
}

.demo-8 .backdrop-filter{
	overflow: hidden !important;
}

.demo-8 .our-scrolling-ticker .ekit-content-items .ekit-marquee .ekit-marquee-item img{
    max-width: 140px;
}

.demo-8 .hero .elementor-background-video-container::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, var(--e-global-color-black) 136.37%), linear-gradient(0deg, rgba(0, 0, 0, 0.4) 73.44%, var(--e-global-color-black) 102.85%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-8 .hero img{
	aspect-ratio: 1 / 0.409;
    object-fit: cover;
}

.demo-8 .demo-8-about-us:before{
	top: auto;
	left: auto;
    right: -20px;
    bottom: 80px;
    width: 250px;
    height: 250px;
    transform: rotate(10deg);
    animation: circlerotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-8 .about-image-1{
	transform: rotate(-7deg);
}

.demo-8 .about-image-1 img{
	aspect-ratio: 1 / 1.245;
	object-fit: cover;
}

.demo-8 .about-image-2{
	transform: rotate(5deg);
}

.demo-8 .about-image-2 img{
	aspect-ratio: 1 / 0.521;
	object-fit: cover;
}

.demo-8 .about-image-3{
	transform: rotate(9deg);
}

.demo-8 .about-image-3 img{
	aspect-ratio: 1 / 1.199;
	object-fit: cover;
}

.demo-8 .fact-circle-image{
	animation: infiniterotate 25s infinite linear;
}

.demo-8 .fact-circle{
	transform: translate(-50px, -50%);
}

.demo-8 .agency-icon{
	transform: translate(-50%, -50%);
}

.demo-8 .agency-icon .elementor-icon-wrapper{
	line-height: 0;
}

.demo-8 .about-us-list .elementor-icon-list-text{
	line-height: normal;
}

.demo-8 .about-body-image img{
	object-fit: cover;
    aspect-ratio: 1 / 0.34;
}

.demo-8 .demo-8-about-contact-box .elementskit-box-header{
	line-height: 0;
}

.demo-8 .demo-8-about-contact-box .elementskit-info-box-icon{
	transition: all 0.5s ease-in-out;
}  

.demo-8 .demo-8-about-contact-box .elementskit-info-box-icon:before{
	content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-8 .demo-8-about-contact-box:hover .elementskit-info-box-icon:before{
	transform: scale(1);
}

.demo-8 .service-tab-image img{
	object-fit: cover;
    aspect-ratio: 1 / 0.964;	
}

.demo-8 .services-content-item svg path{
	fill: var(--e-global-color-accent);
}

.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title{
	min-width: 20% !important;
}

.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title:before{
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	left: auto;
	right: 0;
	background: var(--e-global-color-accent);
	width: 0;
	height: 2px;
	transition: all 0.4s ease-in-out;
}

.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title[aria-selected="true"]:before,
.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title:hover:before{
	width: 100%;
    left: 0;
    right: auto;
}

.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title .e-n-tab-icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	z-index: 0;
}

.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title .e-n-tab-icon:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--e-global-color-primary);
    opacity: 20%;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
	z-index: -1;
}

.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title[aria-selected="true"] .e-n-tab-icon:before,
.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title:hover .e-n-tab-icon:before{
	background: var(--e-global-color-accent);
	opacity: 1;
}

.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title .e-n-tab-icon svg path{
	transition: all 0.05s ease-in-out;
}

.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title:hover .e-n-tab-icon svg path,
.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title[aria-selected="true"] .e-n-tab-icon svg path{
	stroke: var(--e-global-color-secondary);
}

.demo-8 .demo-8-why-choose-us::before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: roundrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-8 .demo-8-why-choose-image img{
	aspect-ratio: 1 / 1.38;
    object-fit: cover;
}

.demo-8 .demo-8-why-choose-item .elementskit-info-box-icon svg{
	transition: all 0.3s ease-in-out;
}

.demo-8 .demo-8-why-choose-item:hover .elementskit-info-box-icon svg{
	transform: rotateY(180deg);
}

.demo-8 .integration-item{
	transition: all 0.4s ease-in-out;
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-8 .integration-item:hover{
    transform: translateY(-3px);
}

.demo-8 .our-innovation:before{
	left: auto;
    right: -20px;
	top: auto;
    bottom: 80px;
    width: 250px;
    height: 250px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes circlerotate{
	
	0% {
		transform: translateY(0) rotate(0);
	}
	100% {
		transform: translateY(-100%) rotate(360deg);
	}	
}

.demo-8 .our-innovation-image:before{
	height: 75%;
	top: auto;
	bottom: 0;
	z-index: -1;
}

.demo-8 .our-innovation-image img{
	object-fit: cover;
    aspect-ratio: 1 / 0.721;
}

.demo-8 .our-innovation-list ul{
	gap: 30px;
}

.demo-8 .our-innovation-list ul li{
	width: calc(33.33% - 20px);
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
	border: 1px solid var(--e-global-color-divider);
    border-radius: 20px;
    padding: 25px;
    transition: all 0.4s ease-in-out;
	overflow: hidden !important;
}

.demo-8 .our-innovation-list ul li:before{
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-8 .our-innovation-list ul li:hover:before{
	background: var(--e-global-color-accent);
    opacity: 100%;
}

.demo-8 .feature-item-image img{
	aspect-ratio: 1 / 0.569;
    object-fit: cover;
}

.demo-8 .feature-item-image-2 img{
	aspect-ratio: 1 / 0.475;
	object-fit: cover;
}

.demo-8 .company-earn-image{
	animation: companyearn 3s infinite linear alternate;
}

@keyframes companyearn{
	0%{
		transform: translateX(10px);
    }	
    100%{
		transform: translateX(-80px);
    }
}

.demo-8 .demo-8-our-advantages::before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    opacity: 40%;
    animation: roundrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-8 .advantage-item .elementskit-info-box-icon{
	transition: all 0.4s ease-in-out;
}

.demo-8 .advantage-item:hover .elementskit-info-box-icon{
	transform: rotateY(180deg);
}

.demo-8 .demo-8-page-pricing::before{
	top: auto;
	left: auto;
    right: -20px;
    bottom: 0px;
    width: 250px;
    height: 250px;
    opacity: 40%;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-8 .pricing-item{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
	overflow: hidden !important;
}

.demo-8 .pricing-content::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    background-color: var(--e-global-color-divider);
    width: 1px;
    height: 80%;
    transform: translate(40px, -50%);
}

.demo-8 .pricing-item .popular{
    transform: rotate(50deg);
}

.demo-8 .pricing-content .elementskit-pricing-title{
	display: inline-block;
}

.demo-8 .pricing-content .elementskit-pricing-price{
	line-height: 0;
}

.demo-8 .pricing-item .period{
	opacity: 80%;
}

.demo-8 .pricing-content .elementskit-pricing-btn-wraper a{
	position: relative;
}

.demo-8 .pricing-content .elementskit-pricing-btn-wraper a::after{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--e-global-color-primary);
    border-radius: 100px;
    opacity: 20%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.demo-8 .demo-8-pricing-footer p a{
	font-weight: 600;
	text-decoration: underline;
	color: var(--e-global-color-accent);
	transition: all 0.3s ease-in-out;
}

.demo-8 .demo-8-pricing-footer a:hover{
	color: var(--e-global-color-white);
}

.demo-8 .demo-8-our-testimonials::before{
	left: auto;
    right: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: roundrotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-8 .testimonial-satisficed-client,
.demo-8 .testimonials-slider-box{
	backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    overflow: hidden !important;
    transition: all 0.4s ease-in-out;
}

.demo-8 .testimonials-slider-box .elementskit-single-testimonial-slider .elementskit-commentor-header .elementskit-icon-content{
	top: auto;
	bottom: 30px;
}

.demo-8 .testimonials-slider-box .ekit-wid-con .elementskit-stars svg{
	width: 1em !important;
}

.demo-8 .testimonials-slider-box .swiper-navigation-button{
	transition: all 0.4s ease-in-out;
}

.demo-8 .testimonials-slider-box .swiper-navigation-button svg{
	width: 18px !important;
}

.demo-8 .demo-8-our-faqs::before{
    left: -20px;
    bottom: 80px;
	top: auto;
    width: 250px;
    height: 250px;
    transform: rotate(10deg);
    animation: circlerotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-8 .faqs-img-1 img{
	object-fit: cover;
	aspect-ratio: 1 / 0.916;
}

.demo-8 .faqs-img-2 img{
	object-fit: cover;
    aspect-ratio: 1 / 1.25;
}

.demo-8 .faqs-title h2{
    background: -webkit-linear-gradient(180deg, var(--e-global-color-accent) 0%, var(--e-global-color-black) 94.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    cursor: none;
    transition: all 0.4s ease-in-out;
}

.demo-8 .faqs-images-box:hover .faqs-title h2{
    color: var(--e-global-color-accent);
}

.demo-8 .need-help-box{
	overflow: hidden !important;
}

.demo-8 .need-help-box::before{
    width: 100%;
    bottom: 0;
	top: auto;
    height: 0;
    z-index: 0;
    transition: all 0.4s ease-in-out;
}

.demo-8 .need-help-box:hover:before{
	height: 100%;
}

@media only screen and (max-width: 991px){

	.demo-8 .demo-8-about-us:before{
		bottom: 40px;
		width: 170px;
		height: 170px;
	}

	.demo-8 .agency-icon .elementor-icon{
		padding: 9px !important;
	}
	
	.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title .e-n-tab-icon{
		width: 50px;
		height: 50px;
	}
	
    .demo-8 .demo-8-why-choose-us::before{
        top: 40px;
        width: 170px;
        height: 170px;
    }
	
	.demo-8 .demo-8-why-choose-image img{
		aspect-ratio: 1 / 0.75;
	}
	
	.demo-8 .our-innovation:before{
		bottom: 40px;
        width: 170px;
        height: 170px;
	}
	
	.demo-8 .our-innovation-image:before{
		height: 90%;
	}
	
	.demo-8 .our-innovation-list ul{
		gap: 20px;
	}

	.demo-8 .our-innovation-list ul li{
		width: calc(50% - 10px);
		padding: 15px 20px;
		border-radius: 10px;
	}
	
	.demo-8 .demo-8-our-advantages:before{
		top: 40px;
		width: 170px;
		height: 170px;
	}

	.demo-8 .demo-8-page-pricing::before{
		width: 170px;
		height: 170px;
	}
	
	.demo-8 .demo-8-our-testimonials::before{
		top: 40px;
		width: 170px;
		height: 170px;
	}

	.demo-8 .testimonials-slider-box .elementskit-single-testimonial-slider .elementskit-commentor-header .elementskit-icon-content{
		bottom: 10px;
		right:0;
	}

	.demo-8 .demo-8-our-faqs::before{
		width: 170px;
		height: 170px;
	}
}

@media only screen and (max-width: 767px){
	
	.demo-8 .our-scrolling-ticker .ekit-content-items .ekit-marquee .ekit-marquee-item img{
		max-width: 100px;
	}
	
	.demo-8 .fact-circle{
		transform: translate(-30px, -50%);
	}
	
	.demo-8 .agency-icon .elementor-icon{
		padding: 6px !important;
	}
	
	.demo-8 .custome-tab .e-n-tabs-heading{
		gap: 30px 0;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--e-global-color-darkdivider);
	}

	.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title{
		min-width: 33.33% !important;
	}
	
	.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title .e-n-tab-icon{
		width: 40px;
		height: 40px;
		border-radius: 6px;
	}

	.demo-8 .custome-tab .e-n-tabs-heading .e-n-tab-title:before{
		bottom: -8px;
	}

	.demo-8 .our-innovation-list ul li{
		width: 100%;
	}

	.demo-8 .pricing-content::before{
		top: auto;
		right: 50%;
		width: 100%;
		height: 1px;
		transform: translate(50%, 20px);
	}
	
	.demo-8 .testimonials-slider-box .swiper-navigation-button{
		display: flex !important;
	}

	.demo-8 .our-blog .elementskit-post-image-card .elementskit-entry-header a img{
		aspect-ratio: 1 / 0.72;
	}
}

/* Hero Slider CSS [Demo-8] */

.elementskit-advanced-slider .widgetarea_warper_edit{
	left: 45%; 
	right: auto !important;
	top: auto !important; bottom: 0; 
	transform: translate(-50%, 0);
}

.elementor-editor-active .elementskit-advanced-slider .swiper-slide-active,
.elementor-editor-active .elementskit-advanced-slider .widgetarea_warper_editable{
	min-height: 200px;
}

.demo-8 .hero-slider .swiper{
	border-radius: 40px 40px 0 0;
}

.demo-8 .hero-slider .swiper-slide > .widgetarea_warper,
.demo-8 .hero-slider .swiper-slide > .widgetarea_warper > .elementor-widget-container,
.demo-8 .hero-slider .swiper-slide > .widgetarea_warper > .elementor-widget-container > .elementor,
.demo-8 .hero-slider .swiper-slide > .widgetarea_warper > .elementor-widget-container > .elementor  > .elementor-element{
	height: 100%;
}

.demo-8 .hero-slider .swiper-pagination-bullet-active{
	border: 0 !important;
}

.demo-8 .hero-slider .swiper-pagination-bullet{
	transform: scale(1) !important;
	opacity: 1 !important;
}

.demo-8 .hero-slider .swiper-pagination-bullet-active::before{
	background-color: var(--e-global-color-accent) !important;
}

.demo-8 .hero-slider .swiper-pagination{
	top: auto !important;
	bottom: 30px !important;
}

.demo-8 .hero-slider .swiper-slide .elementor-widget-icon-list ul{
	margin: 0 -10px !important;
}


@media only screen and (max-width: 991px){

	.demo-8 .hero-slider .swiper-pagination{
		bottom: 35px !important;
	}

	.demo-8 .hero-slider .swiper{
		border-radius: 40px 40px 0 0;
	}
	
	.demo-8 .hero-slider .swiper-pagination{
		bottom: 15px !important;
	}
	
	.demo-8 .hero-slider .hero-images img{
		aspect-ratio: 1 / 0.5;
	}
}

@media only screen and (max-width: 991px){
	
	.demo-8 .hero-slider .swiper{
		border-radius: 13px 13px 0 0;
	}
	
	.demo-8 .hero-slider .hero-images img{
		aspect-ratio: 1 / 0.7;
	}
}

/* Home Video Css [Demo-8]  */

.demo-8 .demo-8-hero-video-section .elementor-background-video-container::before{
	display: none;
}

/* About Us Page Css [Demo-8] */

.demo-8 .demo-8-page-header::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.84%, var(--e-global-color-black) 99.99%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    height: 100%;
    width: 100%;
    z-index: 0;
}

.demo-8 .breadcrumb-item ol li{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1em;
}

.demo-8 .mission-vision-item .elementskit-infobox{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-8 .mission-vision-item .elementskit-infobox:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.demo-8 .mission-vision-item:hover .elementskit-info-box-icon{
	position: relative;
	overflow: hidden;
}

.demo-8 .mission-vision-item .elementskit-info-box-icon::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--e-global-color-primary);
    border-radius: 100px;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.demo-8 .mission-vision-item:hover .elementskit-info-box-icon::before{
	 transform: scale(1);
}

.demo-8 .mission-vision-item svg{
	z-index: 1;
	width: 1em !important;
	height: 1em !important;
	transition: all 0.4s ease-in-out;
}

.demo-8 .mission-vision-item:hover .elementskit-info-box-icon svg{
	transform: rotateY(180deg);
}

.demo-8 .trusted-client-slider .swiper-slide img{
	width: 100%;
	max-height: 36px;
}

.demo-8 .what-we-do-img:before{
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    right: auto;
    bottom: -60px;
    left: -40px;
    background: var(--e-global-color-accent);
    border-radius: 30px;
    transform: rotate(7deg);
    z-index: -1;
}

.demo-8 .what-we-do-img img{
	aspect-ratio: 1 / 0.96;
    object-fit: cover;
}

.demo-8 .get-started-circle{
	animation: getstartedrotate 25s infinite linear;
}

@keyframes getstartedrotate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

.demo-8 .get-started-circle .get-started-circle-icon{
	transform: translate(-50%, -50%);
}

.demo-8 .get-started-circle .get-started-circle-icon .elementor-icon-wrapper{
	line-height: 0;
}

.demo-8 .what-we-do-item{
	position: relative;
	overflow: hidden;
}

.demo-8 .what-we-do-item .elementskit-infobox::before{
	top: auto !important;
	bottom: 0 !important;
	height: 0;
	transition: all 0.4s ease-in-out;
}

.demo-8 .what-we-do-item.active .elementskit-infobox::before,
.demo-8 .what-we-do-item .elementskit-infobox:hover::before{
    height: 100%;
    bottom: auto !important;
    top: 0 !important;
}

.demo-8 .demo-8-about-our-feature::before{
	left: auto;
    right: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    opacity: 40%;
    animation: roundrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

 .demo-8 .demo-8-our-team::before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: roundrotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;	
} 

.demo-8 .team-item{
	position: relative;
	overflow: hidden !important;
}

.demo-8 .team-image img{
    aspect-ratio: 1 / 1.091;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.demo-8 .team-item:hover .team-image img{
	transform: scale(1.1);
}

.demo-8 .team-social-media-list ul{
	display: flex;
    flex-wrap: wrap;
    gap: 15px 22px;
}

.demo-8 .team-social-media-list ul li:last-child a{
	padding: 0 !important;
}

.demo-8 .team-social-media-list{
	position: relative;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
	z-index: 1;
}

.demo-8 .team-item:hover .team-social-media-list{
	height: 60px;
	opacity: 1;
	visibility: visible;
} 

.demo-8 .demo-8-team-body{
	overflow: hidden !important;
}

.demo-8 .demo-8-team-body::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    background: var(--e-global-color-primary);
    height: 100%;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.demo-8 .team-item:hover .demo-8-team-body::after{
	top: 0;
}

.demo-8 .team-social-media-list ul li{
	position: relative;
}

.demo-8 .team-social-media-list ul li a{
	line-height: 1.1em !important;
	color: var(--e-global-color-black);
}

.demo-8 .team-social-media-list ul li:after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--e-global-color-black);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

.demo-8 .team-social-media-list ul li:not(:last-child)::after{
	 width: calc(100% - 22px);
}

.demo-8 .team-social-media-list ul li:hover:after{
	transform-origin: bottom left;
    transform: scaleX(1);
}

.demo-8 .how-work-step-item{
	overflow: hidden !important;
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-8 .how-work-step-item .elementor-icon-box-icon .elementor-icon svg{
	transition: all 0.4s ease-in-out;
}

.demo-8 .how-work-step-item:hover .elementor-icon-box-icon .elementor-icon svg{
	color: var(--e-global-color-white);
	transform: rotateY(180deg);	
}

.demo-8 .how-work-step-item .how-work-step-no .elementor-heading-title{
    transition: all 0.4s ease-in-out
}

.demo-8 .how-work-step-item:hover .how-work-step-no .elementor-heading-title{
	color: var(--e-global-color-accent);
}

.demo-8 .demo-8-our-faqs.demo-8-about-our-faqs::before{
	bottom: auto;
    top: 35%;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .breadcrumb-item ol li{
		font-size: 16px !important;
	}
	
	.demo-8 .what-we-do-img img{
		aspect-ratio: 1 / 0.771;
	}	
	
	.demo-8 .demo-8-about-our-feature::before{
		top: 40px;
		width: 170px;
		height: 170px;
		opacity: 20%;
	}
	
	.demo-8 .team-social-media-list ul{
		gap: 15px 10px;
	}
	
	.demo-8 .team-item:hover .team-social-media-list{
		height: 40px;
	}
}

@media only screen and (max-width: 767px){

	.demo-8 .breadcrumb-item ol li{
		font-size: 14px !important;
	}
	
    .demo-8 .what-we-do-img:before{
        bottom: -35px;
        left: -20px;
        border-radius: 20px;
    }
	
	.demo-8 .what-we-do-img img{
		aspect-ratio: 1 / 0.99;
	}	

	.demo-8 .demo-8-our-team::before{
		top: 40px;
		width: 170px;
		height: 170px;
	}

	.demo-8  .team-item:hover .team-social-media-list{
		height: 38px;
	} 

	.demo-8 .team-social-media-list ul{
		gap: 10px;
	}

	.demo-8 .team-social-media-list ul li:not(:last-child)::after{
		width: calc(100% - 10px);
	}
}

/* Contact Page Css [Demo-8] */

.demo-8 .contact-us-image img{
    aspect-ratio: 1 / 0.83;
    object-fit: cover;
}

.demo-8 .contact-info-item .elementskit-info-box-icon::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--e-global-color-primary);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-8 .contact-info-item:hover .elementskit-info-box-icon::before{
    transform: scale(1);
}

.demo-8 .contact-info-item .elementskit-info-box-icon svg{
	width: 1em !important;
	height: 1em !important;
}

.demo-8 .google-map-iframe:hover iframe{
    filter: grayscale(0%);
}

/* Service Page CSS [Demo-8] */

.demo-8 .page-services:before{
    left: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: roundrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes roundrotate{
	0% {
		transform: translateY(0) rotate(0);
	}

	100% {
		transform: translateY(100%) rotate(360deg);
	}
}

.demo-8 .demo-8-service-item{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
	transition: all 0.3s ease-in-out;
}

.demo-8 .demo-8-service-item:hover{
	transform: translatey(-5px);
}

.demo-8 .demo-8-service-item .elementskit-infobox .elementskit-info-box-icon{
	overflow: hidden;
}

.demo-8 .demo-8-service-item .elementskit-infobox .elementskit-info-box-icon:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--e-global-color-primary);
    opacity: 20%;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
	z-index: -1;
}

.demo-8 .demo-8-service-item:hover .elementskit-infobox .elementskit-info-box-icon:before{
	background-color: var(--e-global-color-accent);
    opacity: 100%;
}

.demo-8 .demo-8-service-item .elementskit-infobox .elementskit-info-box-icon svg,
.demo-8 .demo-8-service-item .elementskit-infobox .box-footer a svg{
	transition: all 0.3s ease-in-out;
}

.demo-8 .demo-8-service-item:hover .elementskit-infobox .elementskit-info-box-icon svg{
	color: var(--e-global-color-black);
}

.demo-8 .demo-8-service-item .elementskit-infobox .box-body{
	position: static;
}

.demo-8 .demo-8-service-item .elementskit-infobox .box-footer{
    position: absolute;
    top: 16px;
    bottom: auto;
    right: 0;
    left: auto;
	transition: all 0.3s ease-in-out;
}

.demo-8 .demo-8-service-item:hover .elementskit-infobox .box-footer{
	transform: rotate(45deg);
}

.demo-8 .demo-8-service-item:hover .elementskit-infobox .box-footer a svg{
	color: var(--e-global-color-white);
}

@media only screen and (max-width: 991px){
	
	.demo-8 .page-services:before{
		width: 180px;
        height: 180px;
	}
}

/* Service Details CSS [Demo-8] */

.demo-8 .demo-8-service-single-page::before{
	left: auto;
    right: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: roundrotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-8 .demo-8-service-single-page::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    background: url("./../images/section-bg-shape-3.png") no-repeat;
    background-position: left bottom;
    background-size: cover;
    width: 250px;
    height: 250px;
    opacity: 40%;
    animation: circlerotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .demo-8-service-single-page::before{
        height: 180px;
        width: 180px;
    }
	
	.demo-8 .demo-8-service-single-page::after{
		height: 180px;
		width: 180px;
		opacity: 20%;
	}
}

/* Our Team CSS [Demo-8] */

.demo-8 .demo-8-page-team::before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    opacity: 40%;
    animation: roundrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
    .demo-8 .demo-8-page-team::before{
        width: 170px;
        height: 170px;
    }
}

/* Team Details CSS [Demo-8] */

.demo-8 .demo-8-team-single-page::before{
    left: -20px;
    top: 80px;
    width: 250px;
    height: 250px;
    animation: roundrotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .demo-8-team-single-page::before{
        height: 170px;
        width: 170px;
    }	
}

/* FAQs Page CSS [Demo-8] */

.demo-8 .demo-8-page-faq::before{
    left: -20px;
    top: 20%;
    width: 250px;
    height: 250px;
    transform: rotate(10deg);
    animation: circlerotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-8 .faq-accordion .elementskit-card{
	position: relative;
	overflow: hidden;
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-8 .faq-accordion .elementskit-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    height: 100%;
    width: 100%;
	z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .demo-8-page-faq::before{
        height: 170px;
        width: 170px;
    }
}

/* Testimonials CSS [Demo-8] */

.demo-8 .demo-8-testimonial-page::before{
    left: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: roundrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .demo-8-testimonial-page::before{
        height: 170px;
        width: 170px;
    }
}

/* Image Gallery CSS [Demo-8] */

.demo-8 .demo-8-gallery-page::before{
    left: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: roundrotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .demo-8-gallery-page::before{
        height: 170px;
        width: 170px;
    }
}

/* Video Gallery CSS [Demo-8] */

.demo-8 .demo-8-page-video-gallery::before{
    left: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: roundrotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes roundrotate8{
	0%{
		transform: translateY(0) rotate(0);
	}
	100%{
		transform: translateY(100%) rotate(360deg);
	}
}

@media only screen and (max-width: 991px){
	
	.demo-8 .demo-8-page-video-gallery::before{
        height: 170px;
        width: 170px;
    }
}

/* Project Details CSS [Demo-8] */

.demo-8 .demo-8-project-single-page::before{
	left: auto;
    right: -20px;
    top: 120px;
    width: 250px;
    height: 250px;
    animation: roundrotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-8 .demo-8-project-single-page::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 60%;
    background: url("./../images/section-bg-shape-1.png") no-repeat;
    background-position: left bottom;
    background-size: cover;
    width: 250px;
    height: 250px;
    transform: rotate(10deg);
    opacity: 40%;
    animation: circlerotate8 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-8 .demo-8-project-single-page::before{
        height: 170px;
        width: 170px;
    }
	
	.demo-8 .demo-8-project-single-page::after{
		height: 170px;
        width: 170px;
		opacity: 20%;
	}
}