.elementor-editor-active #elementor-add-new-section{
	margin: 0 auto;
	padding: 100px 0;
}

.elementor-editor-active #elementor-add-new-section > .elementor-add-section-inner{
	position: relative;
}

.elementor-editor-active .at-image-animation img{
	clip-path:none;
}

.elementor-editor-active .awaiken-portfolio-grid{
	min-height: 500px;
	overflow: hidden;
}
