/**********************************/
/****  Artistics SEO ( demo-2 ) ***/
/**********************************/


/* Demo 2 Theme CSS*/

.demo-2 .page-header{
	position: relative;
	background-attachment: fixed;
}

.demo-2 .page-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	opacity: 0.5;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.84%, #000000 99.99%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-2 .page-header-box h1{
    margin-bottom: 15px;
}

.demo-2 .page-header-box .breadcrumb-trail {
    line-height: 1.2em;
}

@media only screen and (max-width: 991px){
	
	.demo-2 .page-header{
		background-attachment: inherit;
	}
	
	.demo-2 .page-header {
        padding: 182px 0 100px;
    }
	
	.demo-2 .page-header-box h1{
        font-size: 60px !important;
		margin-bottom: 10px;
    }
	
}

@media only screen and (max-width: 767px){
	
	.demo-2 .page-header-box h1{
        font-size: 30px !important;
    }
	
	.demo-2 .page-header-box .trail-items, 
	.demo-2 .page-header-box .post-meta ul{
        font-size: 14px;
    }
	
	.demo-2 .page-header-box .trail-items li:before, 
	.demo-2 .page-header-box .post-meta ul li:before{
		font-size: 22px;
		top: 7px;
	}
	
}

/* Project Archive ( demo-2 ) */

.demo-2 .awaiken-portfolio-grid-item__wrapper{
	border: 1px solid var(--e-global-color-divider);
    border-radius: 30px;
    padding: 40px;
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
    overflow: hidden;
	text-align: start;
}

.demo-2 .artistic-archive-project .awaiken-portfolio-grid-item__wrapper {
    height: calc(100% - 30px);
    margin-bottom: 30px;
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__image{
	overflow: visible;
	border-radius: 0;
	margin-bottom: 15px;
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img{
	aspect-ratio: 1 / 0.735 !important;
	border-radius: 30px;
	margin-bottom: 30px;
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img{
	position: relative;
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-black);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    opacity: 50%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper:hover .awaiken-portfolio-grid-item__img:before{
    transform: scale(1);
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img:after{
	display: none;
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore{
	 transform: translate(-50%, -50%) scale(0); 
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper:hover .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore{
	transform: translate(-50%, -80%);
} 

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a{
	background: var(--e-global-color-accent);
	width: 90px;
    height: 90px;
	border: none;
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a:hover{
	background: var(--e-global-color-white);
}


.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a svg path{
	fill: var(--e-global-color-secondary);
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories{
	position: relative;
	top: 0;
    right: 0;
}

.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories ul li a, 
.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__categories a{
	padding: 0;
	background: transparent;
	font-size: 16px;
	color: var(--e-global-color-accent);
}

@media only screen and (max-width: 991px){
	
	.demo-2 .awaiken-portfolio-grid__filters {
        margin-bottom: 40px;
    }
	
	.demo-2 .awaiken-portfolio-grid-item__wrapper{
		padding: 20px;
	}

	.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img{
		margin-bottom: 20px;
		border-radius: 20px;
	}
	
	.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__image{
		margin-bottom: 10px;
	}
	
	.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__wrapper .awaiken-portfolio-grid-item__img:before{		
		border-radius: 20px;
	}
	
	.demo-2 .awaiken-portfolio-grid .awaiken-portfolio-grid-item__image .awaiken-portfolio-grid-item__readmore a{
		width: 70px;
		height: 70px;
	}
	
}

@media only screen and (max-width: 767px){}

/* Elementor Footer CSS (DEMO 2)  */

.demo-2 .footer-work-together::before{
    left: -20px;
    top: 150px;
    opacity: 50%;
    width: 215px;
    height: 215px;
    animation: circlmoveerotate 12s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes circlmoveerotate{
	0% {
		transform: translateY(0) rotate(0deg);
	}
	100% {
		transform: translateY(100px) rotate(360deg);
	}
}

.demo-2 .work-together-btn.elementor-widget-button .elementor-button .elementor-button-icon{
	top: initial;
	transform: translate(0px, 0px);
}

.demo-2 .work-together-btn.elementor-widget-button:hover .elementor-button .elementor-button-icon{
	transform: rotate(45deg);
}

.demo-2 .footer-icon-box .elementskit-infobox .box-body{
	display: flex;
}

.demo-2 .footer-divider::after{
	content: "";
	position: absolute;
	right: 0;
    top: 50%;
    transform: translateY(-50%);
	border: 1px solid var(--e-global-color-divider);
	width: 1px;
	height: 80%;
}

.demo-2 .footer-privancy-menu .ekit-vertical-main-menu-wraper ul{
	display: flex;
	justify-content: end;
}

.demo-2 .footer-privancy-menu ul li{
	position: relative;
}

.demo-2 .footer-privancy-menu .ekit-vertical-navbar-nav li::before{
	content: "/";
	position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
	color: var(--e-global-color-white);
}

.demo-2 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child a{
	padding-right: 0 !important;
}

.demo-2 .footer-privancy-menu .ekit-vertical-navbar-nav li:first-child a{
	padding-left: 0 !important;
}

.demo-2 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child:before{
	display: none;
}

@media only screen and (max-width: 991px){
	
	 .demo-2 .footer-work-together::before{
        top: 0;
        width: 150px;
        height: 150px;
    }
	
	.demo-2 .footer-divider::after{
		display: none;
	}
	
	.demo-2 .footer-links .menu-item a{
		padding-bottom: 10px !important;
	}
	
	.demo-2 .footer-privancy-menu .ekit-vertical-menu-container ul{
		display: flex !important;
		flex-wrap: wrap;
		justify-content: end !important;
	}
	
	.demo-2 .footer-privancy-menu .ekit-vertical-menu-container ul li a{
		 padding: 0px 15px 0px 10px !important;
	}
	
}

@media only screen and (max-width: 767px){
	
	.demo-2 .work-together-btn.elementor-widget-button .elementor-button .elementor-button-icon{
		width: 24px;
		height: 24px;
	}
	
	.demo-2 .footer-privancy-menu .ekit-vertical-menu-container ul{
		justify-content: center !important;
	}
	
	.demo-2 .footer-privancy-menu .ekit-vertical-menu-container ul li a{
		padding: 0px 14px 0px 7px !important;
	}
	
}


/* Home Page CSS (DEMO 2)  */

.demo-2 .hero:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(179.5deg, rgba(0, 0, 0, 0) 0.44%, #000000 119.12%), linear-gradient(0.62deg, rgba(0, 0, 0, 0) 81.46%, #000000 99.49%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-2 .hero > .e-con-inner{
	z-index: 1;
}

.demo-2 .hero .elementor-background-video-container:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(179.5deg, rgba(0, 0, 0, 0) 0.44%, #000000 119.12%), linear-gradient(0.62deg, rgba(0, 0, 0, 0) 81.46%, #000000 99.49%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.demo-2 .video-play-button .video-content a{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
	flex-direction: row-reverse;
}

.demo-2 .video-play-button .video-content a span{
	padding-right: 15px;
}

.demo-2 .video-play-button .video-content a i{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--e-global-color-accent);
	color: var(--e-global-color-black) !important;
    border-radius: 50%;
	width: 50px;
    height: 50px;
	transition: all 0.3s ease-in-out;
}

.demo-2 .video-play-button .video-content a i:hover{
	background-color: var(--e-global-color-primary);
} 

.demo-2 .scroll-down-arrow{
    transform: translate(-50% , -50%);
}

.demo-2 .scroll-down-arrow .elementor-icon-wrapper{
	line-height: 0;
}

.demo-2 .our-agency-circle .scroll-down-arrow .elementor-widget-container{
	transition: all 0.3s ease-in-out;
}

.demo-2 .our-agency-circle:hover .scroll-down-arrow .elementor-widget-container{
	background-color: var(--e-global-color-white);
	transform: rotate(45deg);
}

.demo-2 .our-agency-circle .e-text-path{
	animation: agencycirclerotate 25s infinite linear;
}

@keyframes agencycirclerotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.demo-2 .scrolling-content .marquee-wrapper .ekit-title-and-description a{
    -webkit-text-stroke-width: 0.5px;
    stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--e-global-color-primary);
    stroke: var(--e-global-color-primary);
	transition: all 0.3s ease-in-out;
}	

.demo-2 .scrolling-content .marquee-wrapper .ekit-title-and-description a:hover{
	  -webkit-text-stroke-color: var(--e-global-color-accent);
    	stroke: var(--e-global-color-accent);
}

.demo-2 .about-us:after{
	content: '';
    display: block;
    position: absolute;
    right: -70px;
    top: 50%;
	background: url("../images/demo-2-section-bg-shape-1.png") no-repeat;
    background-position: right center;
    background-size: contain;
    width: 285px;
    height: 285px;
    opacity: 50%;
    transform: translateY(-50%) rotate(-50deg);
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes roundrotate2{
	0% {
		transform: translate(0, -50%) rotate(0deg);
	}
	100% {
		transform: translate(0, 50%) rotate(360deg);
	}
}

.demo-2 .about-img-1 img{
	aspect-ratio: 1 / 1.48;
	object-fit: cover;
}

.demo-2 .about-img-2 img{
	aspect-ratio: 1 / 1.78;
	object-fit: cover;
}

.about-more-circle .elementor-widget-container{
    animation: agencycirclerotate 25s infinite linear;
}

@keyframes agencycirclerotate{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}

.demo-2 .about-agency-item .elementskit-infobox::before{
	height: 0% !important;
	bottom: 0;
	top: auto !important;
	transition: all 0.4s ease-in-out !important; 
}

.demo-2 .about-agency-item .elementskit-infobox:hover:before,
.demo-2 .about-agency-item.active .elementskit-infobox:before{
	height: 100% !important;
	top: 0 !important;
	bottom: auto;
}

.demo-2 .our-services:before{
	top: auto;
	left: -30px;
    bottom: 0px;
	width: 285px;
    height: 285px;
	animation: chainrotate 10s infinite linear;
    animation-direction: alternate;
}

@keyframes chainrotate{
	from{
		transform: translateY(0) rotate(0deg);
	}
	to{
		transform: translateY(-100%) rotate(360deg);
	}
}

.demo-2 .service-item-box{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-2 .service-item-box .service-image .elementskit-box-header{
	position: relative;
	overflow: hidden;
}

.demo-2 .service-item-box .service-image .elementskit-box-header:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-black);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    opacity: 50%;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.demo-2 .service-item-box:hover .service-image .elementskit-box-header:before{
	transform: scale(1);
}

.demo-2 .service-item-box .service-image .elementskit-box-header img{
	width: 100%;
    aspect-ratio: 1 / 0.59;
    object-fit: cover;
	transition: all 0.3s ease-in-out !important;
}

.demo-2 .service-item-box:hover .service-image .elementskit-box-header img{
    transform: scale(1.05);
}

.demo-2 .service-item-box .service-image .elementskit-info-image-box .elementskit-box-footer{
	margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 2;
}

.demo-2 .service-item-box:hover .service-image .elementskit-info-image-box .elementskit-box-footer{
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	visibility: visible;
}

.demo-2 .service-item-box .service-image .elementskit-info-image-box .elementskit-box-footer .elementskit-btn svg{
	transition: all 0.3s ease-in-out;
}

.demo-2 .service-item-box .service-image .elementskit-info-image-box .elementskit-box-footer .elementskit-btn:hover svg{
	transform: rotate(45deg);
}

.demo-2 .service-item-box .service-image .elementskit-info-image-box .elementskit-box-footer svg path{
	stroke: none !important;
}

.demo-2 .service-item-box .service-image .elementskit-info-image-box .elementskit-box-footer .box-footer{
	text-align: center;
}

.demo-2 .service-footer .elementor-widget-container a span strong{
	transition: all 0.3s ease-in-out;
}

.demo-2 .service-footer .elementor-widget-container a span strong:hover{
	color: var(--e-global-color-white);	
}

.demo-2 .how-work-step-item h2{
	transition: all 0.4s ease-in-out;
}

.demo-2 .how-work-step-item:before{
	content: "\f192";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    font-size: 20px;
    color: var(--e-global-color-accent);
    top: -13px;
    left: 0px;
	border: none;
	transition: all 0.4s ease-in-out;
	width: 25px;
	height: 25px;
}

.demo-2 .how-work-step-item:hover h2{
	-webkit-text-stroke-color: var(--e-global-color-primary) !important;
	stroke: var(--e-global-color-primary) !important;
}

.demo-2 .how-work-step-item:hover:before{
	color: var(--e-global-color-primary);
}

.demo-2 .why-choose-us::before{
	right: -70px;
    top: 200px;
	width: 307px;
    height: 307px;
	animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
	z-index: -1;
}

@keyframes roundrotate2{
	from{
		transform: translate(0, -50%) rotate(0deg);
	}
	to{
		transform: translate(0, 50%) rotate(360deg);
	}
}

.demo-2 .why-choose-counter{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
}

.demo-2 .why-choose-counter-img,
.demo-2 .why-choose-image{
	height: 100%;
}

.demo-2 .why-choose-counter-img img{
	object-fit: cover;
	aspect-ratio: 1 / 0.9886;
}

.demo-2 .why-choose-image img {
    aspect-ratio: 1 / 2.033;
    object-fit: cover;
}

.demo-2 .column-2 .elementor-icon-list-items{
	gap: 20px;
}

.demo-2 .column-2 .elementor-icon-list-items .elementor-icon-list-item{
	width: calc(50% - 10px);
}

.demo-2 .company-since-circle .elementor-widget-container{
    animation: agencycirclerotate 25s infinite linear;
}

@keyframes agencycirclerotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.demo-2 .company-benefit-img img{
	aspect-ratio: 1 / 0.84;
    object-fit: cover;
}

.demo-2 .company-benefit-list:before{
	top: 10px;
	left: 10px;
	border-radius: 20px;
	width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.demo-2 .company-benefit-item .elementskit-infobox .elementskit-info-box-icon svg{
	width: 1em !important;
	height: 1em;
}

.demo-2 .company-benefit-item .elementskit-infobox .elementskit-info-box-icon{
	position: relative;
	z-index: 1;
}

.demo-2 .company-benefit-item .elementskit-infobox .elementskit-info-box-icon:before{
	content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--e-global-color-primary);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-2 .company-benefit-item:hover .elementskit-infobox .elementskit-info-box-icon:before{
	transform: scale(1);
}

.demo-2 .our-pricing::before{
    right: -70px;
	left: auto;
    top: 20%;
    width: 310px;
    height: 310px;
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-2 .our-pricing-swich .elementskit-switch-nav-link-1{
	margin-right: 40px;
}

.demo-2 .our-pricing-swich .elementskit-switch-nav-link-2{
	margin-left: 40px;
}

.demo-2 .our-pricing-swich .ekit-switch-nav-wraper-outer{
	margin-bottom: 60px;
}

.demo-2 .our-pricing-swich .ekit-wid-con .ekit-custom-control-label::before {
    left: 4px ;
}

.demo-2  .ekit-wid-con .ekit-slide-toggle input[type=checkbox]:checked+.ekit-custom-control-label::before {
    left: calc(101% - 37px);
}

.demo-2 .pricing-item .period{
	opacity: 80%;
}

.demo-2 .pricing-item .elementskit-pricing-price{
	line-height: 0;
}

.demo-2 .pricing-item .elementskit-pricing-btn{
	transition: all 0.5s ease-in-out !important;
}

.demo-2 .pricing-item .elementskit-pricing-content ul{
	padding: 0;
}

.demo-2-our-testimonial::before{
    left: -50px;
    top: 100px;
    width: 286px;
    height: 286px;
    animation: ringrotate 15s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes ringrotate{
	from{
		transform: translateY(0) rotate(0deg);
	  }
	to{
		transform: translateY(150%) rotate(360deg);
	}
}

.demo-2 .home-testimonial-slider .swiper-slide{
	position: relative;
}

.demo-2 .home-testimonial-slider .swiper-slide::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -30px;
    bottom: 0;
    left: auto;
    background: var(--e-global-color-divider);
}

.demo-2 .home-testimonial-slider .swiper-slide:last-child::before{
	display: none;
}

.demo-2 .satisfy-client-image.image-anime .elementor-widget-container:after{
	z-index: 0;
}

.demo-2 .home-testimonial-slider .elementskit-commentor-header::after{
	content: '';
	position: absolute;
	right: 0;
	left: auto;
	top: 0;
	background: url("../images/testimonial-quote-icon.svg") no-repeat top right;
	width: 30px;
	height: 30px;
	background-size: cover;
}

.demo-2 .home-testimonial-slider .elementskit-commentor-content p{
	opacity: 80%;
}

.demo-2 .home-testimonial-slider .elementkit-commentor-details{
	width: calc(100% - 125px);
}

.demo-2 .home-testimonial-slider .elementskit-stars{
	display: inline;
	position: absolute;
	top: auto;
	left: auto; 
	right: 0;
	bottom: 18px;
}

.demo-2 .home-testimonial-slider .elementskit-stars li svg{
	width: 1em !important;
}

.demo-2 .home-testimonial-slider .swiper-pagination-bullet.swiper-pagination-bullet-active:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid var(--e-global-color-accent);
	height: 14px;
	width: 14px;
	border-radius: 50%;
}

.demo-2-agency-supports-slider .swiper-slide-inner{
	position: relative;
	border: 1px solid var(--e-global-color-divider);
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
	border-radius: 10px;
	text-align: center;
	padding: 25px 30px;
	line-height: normal !important;
}

.demo-2-agency-supports-slider .swiper-slide-inner img{
	max-height: 30px;
}

.demo-2-agency-supports-slider .swiper-slide-inner::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: var(--e-global-color-secondary);
	opacity: 40%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.demo-2 .faqs-contact-box{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-2 .our-blog-section::before{
    right: -70px;
	left: auto;
	top: auto;
    bottom: 200px;
    width: 258px;
    height: 258px;
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-2 .page-faqs::before, 
	.demo-2 .page-faqs::after,
	.demo-2 .page-gallery::before,
	.demo-2 .page-team-single::after,
	.demo-2 .page-team-single::before,
	.demo-2 .page-testimonial::before,
	.demo-2 .page-testimonial::after,
	.demo-2 .page-pricing::before,
	.demo-2 .page-project-single::after,
	.demo-2 .page-project-single::before,
	.demo-2 .page-service-single::before,
	.demo-2 .page-service-single::after{
		width: 180px !important;
		height: 180px !important;
		opacity: 30% !important;
	}
	
	.demo-2 .about-us:after{
		width: 190px;
        height: 190px;
		opacity: 30%;
	}
	
	.demo-2 .about-img-2 img{
		aspect-ratio: 1 / 1.67;
	}
	
	.demo-2 .our-services:before{
		width: 180px;
		height: 180px;
	}
	
	.demo-2  .why-choose-us::before {
        top: 40px;
        width: 180px;
        height: 180px;
		opacity: 30%;
    }
	
  	.demo-2 .why-choose-image img {
        aspect-ratio: 1 / 0.633;
    }
	
	.demo-2 .company-benefit-list{
		position: inherit;
	}
	
	.demo-2 .column-2 .elementor-icon-list-items{
		gap: 15px;
	}
	
	.demo-2 .our-pricing::before{
		width: 180px;
		height: 180px;
	}

	.demo-2 .our-pricing-swich .ekit-switch-nav-wraper-outer{
		margin-bottom: 30px;
	}
	
	 .demo-2 .our-pricing-swich .elementskit-switch-nav-link-1{
		margin-right: 30px;
	}

	.demo-2 .our-pricing-swich .elementskit-switch-nav-link-2{
		margin-left: 30px;
	}
	
	.demo-2  .ekit-wid-con .ekit-slide-toggle input[type=checkbox]:checked+.ekit-custom-control-label::before{
		left: calc(101% - 28px);
	}
	
	.demo-2-our-testimonial::before{
		left: 20px;
        top: 40px;
        width: 150px;
        height: 150px;
	}
	
	.demo-2-agency-supports-slider .swiper-slide-inner{
		padding: 15px 20px;
	}
	
	.demo-2-agency-supports-slider img{
        max-height: 24px !important; 
    }
	
	.demo-2 .our-blog-section::before{
		width: 180px;
		height: 180px;
	}
}

@media only screen and (max-width: 767px){
	 
	.demo-2 .video-play-button .video-content a span{
		padding-right: 10px;
	}
	
	.demo-2 .video-play-button .video-content a i{ 
		width: 40px;
		height: 40px;
	}
	
	.demo-2 .about-img-1 img{
		aspect-ratio: 1 / 1.54;
	}
	
	.demo-2 .about-img-2 img{
		aspect-ratio: 1 / 1.86;
	}
	
	.demo-2 .service-item-box .elementskit-box-header img{
		width: 100%;
    	aspect-ratio: 1 / 0.53;
	}
	
	.demo-2 .service-item-box .service-image .elementskit-box-header img{
		aspect-ratio: 1 / 0.55;
	}
	
	.demo-2 .how-work-step-item:before{
		font-size: 16px;
		width: 20px;
		height: 20px;
	}
	
	.demo-2 .why-choose-image img {
        aspect-ratio: 1 / 1.1;
    }
	
	.demo-2 .column-2 .elementor-icon-list-items .elementor-icon-list-item{
		width: 100%;
	}
	
	.demo-2 .ekit-wid-con .ekit-slide-toggle input[type=checkbox]:checked+.ekit-custom-control-label::before {
		left: calc(101% - 20px);
	}
	
	 .demo-2 .our-pricing-swich .elementskit-switch-nav-link-1{
		margin-right: 20px;
	}

	.demo-2 .our-pricing-swich .elementskit-switch-nav-link-2{
		margin-left: 20px;
	}
	
	.demo-2 .pricing-benefit-list ul{
		gap: 15px;
	}
	
	.demo-2 .pricing-benefit-list ul li{
		 width: calc(50% - 7.5px);
	}	
	
	.demo-2 .home-testimonial-slider .swiper-slide::before{
		display: none;
	}
}

/* About Us CSS (DEMO 2) */

.demo-2 .breadcrumb-itam .ekit-breadcrumb{
	font-weight: 600 !important;
	font-size: 18px !important;
	line-height: 1.6em !important;
}

.demo-2 .page-hero-section{
    position: relative;
}

.demo-2 .page-hero-section::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0.5;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.84%, #000000 99.99%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 100%;
    height: 100%;
    z-index: 0;
}

.demo-2 .our-approach:before{
	left: -50px;
    top: 100px;
	width: 320px;
    height: 320px;
    animation: squrerotate2 10s infinite linear;
    animation-direction: alternate;
}

@keyframes squrerotate2{
	0% {
		transform: translate(0, 0px) rotate(0deg);
	}

	50% {
		transform: translate(-100px, 150px) rotate(180deg);
	}

	100% {
		transform: translate(0px, 300px) rotate(360deg);
	}
}

.demo-2 .vision-mission-icon-box .elementor-icon-box-wrapper{
	align-items: center;
}

.demo-2-our-company-slider .swiper-slide-inner img{
	max-height: 36px;
}

.demo-2 .what-we-do-image img{
	aspect-ratio: 1 / 1.38;
    object-fit: cover;
}

.demo-2 .what-we-item{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-2 .what-we-item .elementskit-infobox::before{
	opacity: 40%;
}

.demo-2 .get-free-circle .elementor-widget-container{
	animation: agencycirclerotate 25s infinite linear;
}

@keyframes agencycirclerotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.demo-2 .team-member-item{
	overflow: hidden !important;
}

.demo-2 .team-image:before{
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--e-global-color-black);
	border-radius: 30px 30px 0 0;
    opacity: 50%;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transition: all 0.4s ease-in-out;
	z-index: 1;
}

.demo-2 .team-member-item:hover .team-image:before{
	transform: scale(1);
}

.demo-2 .team-image img{
	aspect-ratio: 1 / 0.848;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.demo-2 .team-member-item:hover .team-image img{
	transform: scale(1.1);
}

.demo-2 .readmore-btn .elementor-icon-wrapper{
	line-height: 0;
}

.demo-2 .readmore-btn .elementor-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
	opacity: 0;
    visibility: hidden;
	transform:  translate(-50%, -50%) scale(0);
    transition: all 0.3s ease-in-out;
}

.demo-2 .team-member-item:hover .readmore-btn .elementor-icon{
	opacity: 1;
    visibility: visible;
	transform:  translate(-50%, -50%) scale(1);
}

.demo-2 .readmore-btn .elementor-icon svg{
	transition: all 0.3s ease-in-out;
}

.demo-2 .readmore-btn .elementor-icon:hover svg{
	transform: rotate(45deg);
}

.demo-2 .how-it-work:before{
	left: auto;
	top: 200px;
	right: -70px;
	width: 310px;
    height: 310px;
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;	
}

.demo-2 .company-benefits:before{
	left: -50px;
    top: 100px;
	width: 267px;
    height: 267px;
    animation: ringrotate 15s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-2 .faq-section:before{
	top: auto;
	left: auto;
	right: -70px;
    bottom: 200px;
	width: 258px;
    height: 258px;
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
	z-index: -1;
}

@media only screen and (max-width: 991px){

	.demo-2 .breadcrumb-itam .ekit-breadcrumb{
		font-size: 16px !important;
	}
	
	.demo-2 .our-approach:before{
		top: 40px;
		width: 220px;
		height: 220px;
	}

	.demo-2 .company-benefits:before{
		top: 0;
		width: 180px;
		height: 180px;		
	}
	
	.demo-2 .how-it-work:before{
		top: 100px;
		width: 180px;
		height: 180px;
		opacity: 30%;
	}

	.demo-2 .readmore-btn .elementor-icon{
		width: 70px;
		height: 70px;
	}
	
	.demo-2 .faq-section:before{
		bottom: 100px;
        width: 180px;
        height: 180px;
	}
}

@media only screen and (max-width: 767px){
	
	.demo-2 .breadcrumb-itam .ekit-breadcrumb{
		font-size: 14px !important;
	}
}

/* Service CSS (DEMO 2) */

.demo-2 .page-services::before{
	left: -30px;
    top: 40%;
    width: 285px;
    height: 285px;
    animation: roundrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px) {
    .demo-2 .page-services::before {
        width: 190px;
        height: 190px;
        opacity: 30%;
    }
}

.demo-2 .page-service-single::after{
	content: '';
    display: block;
    position: absolute;
    left: -70px;
    top: 20%;
	background: url('../images/section-bg-shape-7.png') no-repeat;
    background-position: left top;
    background-size: contain;
    width: 258px;
    height: 258px;
    opacity: 50%;
    animation: roundrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-2 .page-service-single::before {
    content: '';
    display: block;
    position: absolute;
	left: auto;
    top: auto;
    right: -50px;
    bottom: 40%;
	background: url('../images/section-bg-shape-6.png') no-repeat;
    background-position: right bottom !important;
    background-size: contain;
    opacity: 50%;
    width: 286px;
    height: 286px;
    animation: ringrotate 15s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}


/* Team CSS (DEMO 2) */

.demo-2 .page-team:before{
	left: auto;
	right: -50px;
    top: 15%;
	width: 267px;
    height: 267px;
	animation: ringrotate 15s infinite linear;
    animation-direction: alternate;
}

.demo-2 .page-team:after{
	display: none;
}

@media only screen and (max-width: 911px){
	.demo-2 .page-team:before{		
		width: 180px;
        height: 180px;
	}
}

@media only screen and (max-width: 767px){}

/* Team Single CSS (DEMO 2) */

.demo-2 .page-team-single::before{
	top: auto;
	left: auto;
    right: -70px;
    bottom: 20%;
    width: 310px;
    height: 310px;
    transform: translateY(50%) rotate(-50deg);
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-2 .page-team-single::after{
	content: '';
	display: block;
	position: absolute;
	left: -70px;
	top: 20%;
	background: url(../images/demo-2-section-bg-shape-9.png) no-repeat;
	background-position: left center;
	background-size: contain;
	width: 285px;
	height: 285px;
	opacity: 50%;
	transform: translateY(0%) rotate(-50deg);
	animation: roundrotate2 10s infinite linear;
	animation-direction: alternate;
	z-index: -1;
}

.demo-2 .team-contact-box-icon .elementor-icon{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

@media only screen and (max-width: 767px){}

/* FAQ CSS (DEMO 2) */

.demo-2 .page-faqs::before{
    left: -70px;
    top: 20%;
	width: 285px;
	height: 285px;
	transform: translateY(0%) rotate(-50deg);
	animation: roundrotate2 10s infinite linear;
	animation-direction: alternate;
	z-index: -1;
}

.demo-2 .page-faqs::after{
    content: '';
    display: block;
    position: absolute;
    right: -70px;
    bottom: 20%;
	background: url('../images/demo-2-section-bg-shape-9.png') no-repeat;
    background-position: right bottom;
    background-size: contain;
    width: 310px;
    height: 310px;
    opacity: 50%;
    transform: translateY(50%) rotate(-50deg);
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-2 .faq-accordion .elementskit-accordion > .elementskit-card{
	position: relative;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

.demo-2 .faq-accordion .elementskit-accordion > .elementskit-card.active{
	background-color: var(--e-global-color-black);
}

.demo-2 .faq-accordion .elementskit-accordion > .elementskit-card:before{
	content: '';
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 26.48%, rgba(0, 0, 0, 0) 155.74%);
    height: 100%;
    width: 100%;
	transition: all 0.3s ease-in-out;
}

.demo-2 .faq-accordion .elementskit-card-header .ekit_accordion_icon_group{
	line-height: 0;
}

.demo-2 .faq-accordion .ekit-wid-con svg{
	width: 1em;
	height: 1em;
}

@media only screen and (max-width: 767px){}

/* Contact Us CSS (DEMO 2) */

.demo-2-page-contact-us::before{
	top: auto;
	left: auto;
	right: -70px;
	bottom: 80px;
	width: 258px;
	height: 258px;
	animation: roundrotate2 10s infinite linear;
	animation-direction: alternate;
	z-index: -1;
}

.demo-2 .contect-image img{
	aspect-ratio: 1 / 0.484;
	object-fit: cover;
} 

.demo-2 .contect-icon-box .elementskit-infobox{
	align-items: center !important;
}

.demo-2 .contect-icon-box .elementskit-infobox .elementskit-info-box-icon svg{
	 width: 1em !important;
}

.demo-2 .contect-icon-box .elementskit-box-header{
	line-height: 0;
}

.demo-2 .contect-icon-box .elementskit-infobox .elementskit-info-box-icon{
	transition: all 0.5s ease-in-out;
}

.demo-2 .contect-icon-box .elementskit-infobox:hover .elementskit-info-box-icon{
	background-color: transparent;
}

.demo-2 .contect-icon-box .elementskit-infobox .elementskit-info-box-icon::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--e-global-color-primary);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.demo-2 .contect-icon-box .elementskit-infobox:hover .elementskit-info-box-icon::before{
	transform: scale(1);
}

.demo-2 .contect-icon-box .elementskit-infobox .elementskit-info-box-icon svg{
	z-index: 1;
}

@media only screen and (max-width: 991px){
	
	.demo-2-page-contact-us::before {
        right: -50px;
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 767px){}

/* Testimonial Css (DEMO 2) */

.demo-2 .page-testimonial::before{
	top: auto;
	left: auto;
    right: -70px;
    bottom: 20%;
    width: 310px;
    height: 310px;
    opacity: 50%;
    transform: translateY(50%) rotate(-50deg);
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-2 .page-testimonial::after{
	content: '';
	display: block;
	position: absolute;
	left: -70px;
	top: 20%;
	background: url('../images/demo-2-section-bg-shape-1.png') no-repeat;
	background-position: left center;
	background-size: contain;
	width: 285px;
	height: 285px;
	opacity: 50%;
	transform: translateY(0%) rotate(-50deg);
	animation: roundrotate2 10s infinite linear;
	animation-direction: alternate;
	z-index: -1;
}

/* Pricing (DEMO 2)  */

.demo-2 .page-pricing::before{
	left: auto;
	bottom: auto;
	right: -50px;
	top: 20%;
	width: 267px;
	height: 267px;
	animation: ringrotate 15s infinite linear;
	animation-direction: alternate;
	z-index: -1;
}


/* Gallery Css (DEMO 2)  */

.demo-2 .page-gallery::before{
	left: auto;
	bottom: auto;
    right: -70px;
    top: 35%;
    width: 285px;
    height: 285px;
    transform: translateY(0%) rotate(-50deg);
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

/* Project Single (DEMO 2)  */

.demo-2 .page-project-single::before{
    right: -70px;
    bottom: 20%;
	top: auto;
	left: auto;
    width: 310px;
    height: 310px;
    transform: translateY(50%) rotate(-50deg);
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-2 .page-project-single::after {
    content: '';
    display: block;
    position: absolute;
    left: -70px;
    top: 30%;
	background: url("../images/demo-2-section-bg-shape-1.png") no-repeat;
    background-position: left center;
    background-size: contain;
    width: 285px;
    height: 285px;
    opacity: 50%;
    transform: translateY(0%) rotate(-50deg);
    animation: roundrotate2 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-2 .project-rating-counter .funfact-icon svg{
	max-width: 50px !important;
    height: 50px !important;
}

.demo-2 .project-rating-counter .funfact-icon svg path{
	fill: currentColor !important;
}

@media only screen and (max-width: 767px){

	.demo-2 .project-rating-counter .funfact-icon svg{
		max-width: 36px !important;
		height: 36px !important;
	}
	
}