/******************************************************/
/****  Artistics Social Media Marketing ( demo-3 ) ****/
/******************************************************/

/*  Demo 3 Theme CSS  */

.demo-3 .page-header{
	position: relative;
	background-attachment: fixed;
}

.demo-3 .page-header:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-black);
    opacity: 60%;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.demo-3 .page-header-box h1{
	line-height: 1.1em;
}

.demo-3 .page-header-box .breadcrumb-trail{
    line-height: 1.2em;
}

@media only screen and (max-width: 991px){
	
	.demo-3 .page-header{
		background-attachment: inherit;
		padding: 180px 0 100px;
	}
	
	.demo-3 .page-header-box h1 {
        font-size: 60px !important;
    }
	
}

@media only screen and (max-width: 767px){
	
	 .demo-3 .page-header-box h1 {
        font-size: 30px !important;
    }
}

/***************************************/
/*** Elementor Pages CSS ( demo 3 )  ***/
/***************************************/

/* Elementor Footer CSS */

.demo-3 .footer-work-together::before{
	left: auto;
    right: -80px;
    top: 50%;
    width: 280px;
    height: 288px;
	opacity: 50%;
    transform: translateY(-70%);
    animation: roundrotate3 10s infinite linear;
    animation-direction: alternate;
	z-index: -1;
}

@keyframes roundrotate3{
    0%{
		transform: translateY(-50%) rotate(0deg);
		}
    100%{
        transform: translateY(-150%) rotate(360deg);
    }
}

.demo-3 .footer-newsletter-form .form-group{
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	max-width: 445px;
	gap: 0;
}

.demo-3 .footer-newsletter-form .email-field{
	width: 89%;
} 

.demo-3 .footer-newsletter-form .newsletter-btn{
	width: 11%;
}

.demo-3 .footer-newsletter-form .newsletter-btn input[type="submit"]{
	width: 100%;
	height: 100%;
	background: url('../images/footer-form-icon.svg') no-repeat center center;
	background-size: 60% auto;
}

.demo-3 .footer-newsletter-form .wpcf7-not-valid-tip,
.demo-3 .footer-newsletter-form .wpcf7-response-output{
	display: none;
}

.demo-3 .footer-cta-box{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-3 .footer-contact-item .elementskit-info-box-icon svg{
	height: 1em;
}

.demo-3 .social-media .ekit_social_media li a{
	display: flex;
	align-items: center;
}

.demo-3 .social-media .ekit_social_media>li>a>i{
	line-height: 1.2em;
}

.demo-3 .social-media .ekit_social_media>li>a svg{
    height: 18px;
}

.demo-3 .social-media .ekit_social_media li:first-child{
	margin-left: 0;
}

.demo-3 .footer-privancy-menu .ekit-vertical-main-menu-wraper ul{
	display: flex;
	justify-content: end;
}

.demo-3 .footer-privancy-menu ul li{
	position: relative;
}

.demo-3 .footer-privancy-menu .ekit-vertical-navbar-nav li::before{
	content: "/";
	position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
	color: var(--e-global-color-white);
}

.demo-3 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child a{
	padding-right: 0 !important;
}

.demo-3 .footer-privancy-menu .ekit-vertical-navbar-nav li:first-child a{
	padding-left: 0 !important;
}

.demo-3 .footer-privancy-menu .ekit-vertical-navbar-nav li:last-child:before{
	display: none;
}

@media only screen and (max-width: 991px){
	
	.demo-3 .footer-work-together::before{
        top: 70%;
        right: -40px;
        height: 180px;
        width: 180px;
        opacity: 30%;
    }
	
	.demo-3 .footer-newsletter-form .form-group{
		max-width: 100%;
	}
	
	.demo-3 .footer-newsletter-form .newsletter-btn input[type="submit"]{
		width: 100% !important;
	}
	
	.demo-3 .footer-newsletter-form .email-field{
		width: 93%;
	} 

	.demo-3 .footer-newsletter-form .newsletter-btn{
		width: 7%;
	}
	
	.demo-3 .footer-newsletter-form .newsletter-btn input[type="submit"]{
		background-size: 50% auto;
	}
	
	.demo-3 .footer-links ul li a{
		padding-bottom: 10px !important;
	}
	
	.demo-3 .footer-privancy-menu .ekit-vertical-menu-container ul{
		display: flex !important;
		flex-wrap: wrap;
		justify-content: end !important;
	}

	.demo-3 .footer-privancy-menu .ekit-vertical-menu-container ul li a{
		padding: 0px 15px 0px 10px !important;
	}
	
}

@media only screen and (max-width: 767px){
	
	.demo-3 .footer-newsletter-form .email-field{
		width: 85%;
	} 

	.demo-3 .footer-newsletter-form .newsletter-btn{
		width: 15%;
	}
	
	.demo-3 .social-media .ekit_social_media>li>a svg{
		height: 14px;
	}
	
	.demo-3 .footer-privancy-menu .ekit-vertical-menu-container ul{
		justify-content: center !important;
	}

	.demo-3 .footer-privancy-menu .ekit-vertical-menu-container ul li a{
		padding: 0px 14px 0px 7px !important;
	}
	
}

/* Home Page Css */

.demo-3 .hero-images::before{
    bottom: 165px;
    left: 50px;
	top: auto;
	right: auto;
    width: 144px;
    height: 65px;
    z-index: 1;
}

.demo-3 .hero-image img{
    aspect-ratio: 1 / 1.26;
    object-fit: contain;
}

.demo-3 .icon-hero-img-2 .elementor-icon-wrapper,
.demo-3 .icon-hero-img-1 .elementor-icon-wrapper{
	line-height: 0;
}

.demo-3 .icon-hero-img-2 .elementor-icon,
.demo-3 .icon-hero-img-1 .elementor-icon{
	position: relative;
	overflow: hidden;
}

.demo-3 .icon-hero-img-1 .elementor-icon::before,
.demo-3 .icon-hero-img-2 .elementor-icon::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.demo-3 .icon-hero-img-1 .elementor-icon:hover::before,
.demo-3 .icon-hero-img-2 .elementor-icon:hover::before{
	transform: scale(1);
}

.demo-3 .icon-hero-img-1,
.demo-3 .icon-hero-img-2{
    animation: iconheroimg 3s infinite alternate;
}

@keyframes iconheroimg{
    0%{
        transform: translateX(0)
    }

    100%{
        transform: translateY(-50px)
    }
}

.demo-3 .satisficed-client-box{
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px) !important;
	display: inline-flex !important;
	animation: satisficedbox 2.5s infinite alternate;
	z-index: 2;
	border-radius: 10px;
	overflow: initial;
}

.demo-3 .satisficed-client-box .elementskit-funfact-inner{
	align-items: start;
}

.demo-3 .satisficed-client-box::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--e-global-color-primary);
	opacity: 20%;
    width: 100%;
    height: 100%;
	border-radius: 10px;
}

@keyframes satisficedbox{
    0%{
        transform: translateX(0)
    }

    100%{
        transform: translateX(-100px)
    }
}

.demo-3 .satisficed-client-box::after{
	content: '';
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    height: 100%;
	border-radius: 10px;
    width: 0;
	transition: all 0.4s ease-in-out;
}

.demo-3 .satisficed-client-box:hover:after{
	width: 100%;
	right: auto;
	left: 0;
}

.demo-3 .satisficed-client-box .funfact-content .number-percentage ,
.demo-3 .satisficed-client-box .funfact-content .number-percentage-wraper ,
.demo-3 .satisficed-client-box .funfact-content .funfact-title{
	transition: all 0.4s ease-in-out;
}

.demo-3 .satisficed-client-box:hover .funfact-content .number-percentage ,
.demo-3 .satisficed-client-box:hover .funfact-content .number-percentage-wraper ,
.demo-3 .satisficed-client-box:hover .funfact-content .funfact-title{
	color: var(--e-global-color-black);
}

.demo-3 .satisficed-client-box .funfact-icon svg path{
	filter: brightness(0);
}

.demo-3-about-us::before{
	top: auto;
	left: -70px;
	bottom: 10%;
    width: 285px;
    height: 285px;
    animation: circlerotate 10s infinite linear;
    animation-direction: alternate;
	z-index: -1;
}

@keyframes circlerotate{
	from{
		transform: translateY(0) rotate(0deg);
	}
	to{
		transform: translateY(-100%) rotate(360deg);
	}
}

.demo-3 .about-us-image img{
    aspect-ratio: 1 / 1.029;
    object-fit: cover;
}

.demo-3 .about-experience-box .elementor-counter-number-wrapper{
	flex: inherit;
}

.demo-3 .about-experience-box .elementor-counter{
	gap: 30px;
	align-items: center;
}

.demo-3 .about-experience-box .elementor-counter-title{
	display: inline-block;
}

.demo-3 .about-experience-box .elementor-counter-title span{
	color: var(--e-global-color-accent)
}

.demo-3 .about-us-body{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
	border-radius: 20px;
}

.demo-3 .about-us-body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    border-radius: 20px;
    opacity: 40%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.demo-3 .about-us-body .elementskit-infobox::before{
	transition: all 0.4s ease-in-out !important;
}

.demo-3 .about-author-info .elementskit-box-header{
	line-height: 0;
}

.demo-3 .about-author-info .elementskit-info-box-icon{
	position: relative;
	overflow: hidden;
}

.demo-3 .about-author-info .elementskit-info-box-icon:after{
	content: "";
    position: absolute;
    width: 215%;
    height: 0%;
    left: 50%;
    top: 50%;
	border-radius: 20px;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

.demo-3 .about-author-info .elementskit-info-box-icon:hover:after{
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}

.demo-3 .about-us-list{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    overflow: hidden;
    z-index: 1;
}

.demo-3 .about-list-item{
	position: relative;
}

.demo-3 .about-list-item:before{
	content: '';
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    background: var(--e-global-color-divider);
    height: 100%;
    width: 1px;
}

.demo-3 .about-list-item:last-child:before{
	display: none;
}

.demo-3 .about-list-item .elementskit-box-header{
	line-height: 0;
}

.demo-3-our-services::before{
	top: auto;
	left: auto;
    right: -80px;
    bottom: 10%;
    width: 264px;
    height: 274px;
    animation: circlezoomrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-3 .our-service-image img{
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
}

.demo-3 .service-item:hover{
    transform: translateY(-3px);
}

.demo-3 .service-item .elementskit-infobox{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
	overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.demo-3 .service-item .elementskit-infobox::before{
    opacity: 40%;
}

.demo-3 .service-item .elementskit-box-header .elementskit-info-box-icon svg{
	transition: all 0.4s ease-in-out;
}

.demo-3 .service-item:hover .elementskit-box-header .elementskit-info-box-icon svg{
	transform: rotateY(180deg);
}

.demo-3 .service-item .elementskit-infobox .btn-wraper svg{
	transition: all 0.3s ease-in-out;	
}

.demo-3 .service-item .elementskit-infobox .btn-wraper:hover svg{
	transform: rotate(45deg);
}

.demo-3 .service-item .elementskit-infobox .btn-wraper:hover a{
	color: var(--e-global-color-primary);
}

.demo-3 .service-footer a span{
	transition: all 0.3s ease-in-out;
}

.demo-3 .service-footer a:hover span{
	color: var(--e-global-color-white) !important;
}

.demo-3 .our-brands-box{
	 backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-3 .our-brands-box .brand-list-item .elementskit-infobox.gradient-active::before{
	border-radius: 0 0 30px 30px;
	transition: all 0.4s ease-in-out;
}

.demo-3 .brand-list-item.active .gradient-active:before{
	top: 0;
}

.demo-3-why-choose-us::before {
    left: -70px;
	top: auto;
    bottom: 100px;
	right: auto;
    width: 325px;
    height: 325px;
    animation: squrerotate 10s infinite linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes squrerotate{
	0%{
		transform: translate(0, 0) rotate(0deg);
    }
	50%{
		transform: translate(-50px, -50%) rotate(180deg);
	}
    100%{
        transform: translate(0, -120%) rotate(360deg);
    }
}

.demo-3 .why-choose-circle .elementor-widget-container{
    overflow: inherit;
}

.demo-3 .why-choose-circle img{
	animation: infiniterotate 30s infinite linear;
}

@keyframes infiniterotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.demo-3 .why-choose-circle-image{
	transform: translate(-50%, -50%);
}
		
.demo-3 .why-choose-circle-image img{
	aspect-ratio: 1 / 1.132;
    object-fit: cover; 
}		

.demo-3 .why-choose-list-item .elementskit-info-box-icon svg{
	margin-top: 5px;
}

.demo-3 .client-box-counter{
	overflow: hidden;
	border-radius: 10px;
	animation: clientboxmoves 3s infinite linear alternate;
	z-index: 2;
}

@keyframes clientboxmoves{
	50%{
 		left: 40px;
	}
}

.demo-3 .client-box-counter .elementskit-funfact-inner::after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-primary);
    height: 100%;
	border-radius: 10px;
    width: 0;
	transition: all 0.4s ease-in-out;
}

.demo-3 .client-box-counter:hover .elementskit-funfact-inner:after{
	width: 100%;
	right: 100%;
	z-index: -1;
}

.demo-3 .client-box-counter .elementskit-funfact .funfact-icon,
.demo-3 .client-box-counter .elementskit-funfact .funfact-content{
	z-index: 1;
}

.demo-3 .client-box-counter .funfact-content .number-percentage,
.demo-3 .client-box-counter .funfact-content .number-percentage-wraper,
.demo-3 .client-box-counter .funfact-content .funfact-title{
	transition: all 0.4s ease-in-out;
}

.demo-3 .our-feature-image-1 img{
	aspect-ratio: 1 / 1.822;
	object-fit: cover;
}

.demo-3 .our-feature-img-2 img{
	aspect-ratio: 1 / 0.858;
	object-fit: cover;
}

.demo-3-key-facts::before{
    right: -80px;
    top: 50%;
	left: auto;
	bottom: auto;
    width: 280px;
    height: 288px;
    transform: translateY(-70%);
    animation: roundrotate3 10s infinite linear;
    animation-direction: alternate;
}

.demo-3 .key-facts-box{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    overflow: hidden !important;
}

.demo-3 .key-facts-image .elementor-widget-container{
	height: 100%;
}

.demo-3 .key-facts-image img {
    aspect-ratio: 1 / 1.489;
    object-fit: cover;
}

.demo-3 .pricing-body-list-item .elementor-icon i:before, 
.demo-3 .pricing-body-list-item .elementor-icon svg:before{
	top: 4px;
}

.demo-3 .pricing-item{
	position: relative;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    overflow: hidden;
}

.demo-3 .pricing-item svg{
	width:60px !important;
}

.demo-3 .pricing-item .elementskit-pricing-subtitle{
	margin: 0 !important;
}

.demo-3 .pricing-item .elementskit-pricing-price{
	line-height: 0 !important;
}

.demo-3 .pricing-item .period{
	right: 10px;
}

.demo-3 .pricing-item .elementskit-pricing-btn-wraper .elementskit-pricing-btn{
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.demo-3 .pricing-item .elementskit-pricing-btn-wraper .elementskit-pricing-btn::after{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--e-global-color-primary);
    opacity: 20%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.demo-3 .pricing-item .elementskit-single-pricing .elementskit-pricing-lists li{
	border-top-style: solid;
	padding-bottom: 20px;
	line-height: inherit !important;
}

.demo-3 .pricing-item .elementskit-single-pricing .elementskit-pricing-lists li:first-child{
	border-top-width: 0;
}

.demo-3 .pricing-item .elementskit-single-pricing .elementskit-pricing-lists li:last-child{
	padding-bottom: 0;
}

.demo-3 .pricing-item.btn-highlight .elementskit-pricing-btn-wraper .elementskit-pricing-btn:hover:after{
	opacity: 20%;
}

.demo-3 .pricing-item.btn-highlight{
	overflow: hidden !important;
}

.demo-3 .pricing-item.btn-highlight .popular{
	transform: rotate(50deg);
}

.demo-3 .pricing-item .elementskit-pricing-content ul{
	padding: 0;
}

.demo-3 .our-agency-circle .scroll-down-arrow .elementor-widget-container{
	transition: all 0.3s ease-in-out;
}

.demo-3 .our-agency-circle:hover .scroll-down-arrow .elementor-widget-container{
	background-color: var(--e-global-color-white);
	transform: rotate(45deg);
}

.demo-3 .our-agency-circle .e-text-path{
	animation: agencycirclerotate3 25s infinite linear;
}

.demo-3 .scroll-down-arrow{
    transform: translate(-50% , -50%);
}

.demo-3 .scroll-down-arrow .elementor-icon-wrapper{
	line-height: 0;
}

@keyframes agencycirclerotate3{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.demo-3-how-it-works:before{
    left: -70px;
    top: 80px;
    width: 255px;
    height: 260px;
    animation: circlemoverotate 12s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-3 .how-it-work-list .how-work-list-item{
	position: relative;
	overflow: hidden;
}

.demo-3 .how-it-work-list .how-work-list-item .how-work-list-image{
	position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 0;
    transition: all 0.6s ease-in-out;
}

.demo-3 .how-it-work-list .how-work-list-item:hover .how-work-list-image,
.demo-3 .how-it-work-list .how-work-list-item.active .how-work-list-image{
	width: 100%;
	left: 0;
}

.demo-3 .how-it-work-list .how-work-list-item .how-work-list-heading .elementor-heading-title{
	transition: all 0.4s ease-in-out
}

.demo-3 .how-it-work-list .how-work-list-item:hover .how-work-list-heading .elementor-heading-title,
.demo-3 .how-it-work-list .how-work-list-item.active .how-work-list-heading .elementor-heading-title{
	color: var(--e-global-color-accent);
}

.demo-3-our-testimonial::before{
	top: auto;
	left: auto;
    right: -60px;
    bottom: 10%;
    width: 306px;
    height: 304px;
	opacity: 70%;
    animation: roundrotate3 10s infinite linear alternate;
    z-index: -1;
}

@keyframes roundrotate3{
    0%{
		transform: translateY(-50%) rotate(0deg);
    }
    100%{
        transform: translateY(-150%) rotate(360deg);
    }
}

.demo-3 .testimonial-item{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-3 .testimonial-item .elementor-testimonial-content{
	margin-bottom: 30px;
}

.demo-3 .testimonial-item .elementor-testimonial-image{
	position: relative;
	overflow: hidden;
	border-radius: 100px;
	margin-right: 20px;
	padding-inline-end: 0 !important;
	height: 50px;
}

.demo-3 .testimonial-item .elementor-testimonial-image::after{
	content: "";
	position: absolute;
    width: 215%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255,255,255,.3);
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 1;
}

.demo-3 .testimonial-item .elementor-testimonial-image:hover:after{
	height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}

.demo-3 .testimonial-item .elementor-testimonial-meta-inner{
	display: flex;
}

.demo-3 .testimonial-item .elementor-testimonial-meta-inner .elementor-testimonial-name{
	margin-bottom: 5px;
}

.demo-3 .testimonial-item .custome-funfact .elementskit-funfact-inner{
	width: 100%;
	justify-content: space-between;
}

.demo-3 .testimonial-item .custome-funfact .elementskit-funfact-inner .funfact-icon{
	padding-left: 20px;
}

.demo-3 .testimonial-item .custome-funfact .elementskit-funfact-inner .funfact-icon svg path{
	fill: var(--e-global-color-accent) !important;
}

.demo-3 .faqs-review-box{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-3 .satisfy-client-img .elementor-widget-container{
	z-index: 0;
}

.demo-3 .faq-accordion .elementskit-accordion > .elementskit-card{
	position: relative;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

.demo-3 .faq-accordion .elementskit-accordion > .elementskit-card.active{
	background-color: var(--e-global-color-black);
}

.demo-3 .faq-accordion .elementskit-accordion > .elementskit-card:before{
	content: '';
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 26.48%, rgba(0, 0, 0, 0) 155.74%);
    height: 100%;
    width: 100%;
	transition: all 0.3s ease-in-out;
}

.demo-3 .faq-accordion .elementskit-card-header .ekit_accordion_icon_group{
	line-height: 0;
}

.demo-3 .faq-accordion .ekit-wid-con svg{
    width: 1em !important;
    height: 1em;
}

.demo-3-our-blog-section::before{
    left: -70px;
    top: 80px;
    width: 255px;
    height: 260px;
    animation: circlemoverotate 12s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-3 .section-row::after{
	content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 0;
    background: var(--e-global-color-primary);
    opacity: 20%;
    height: 1px;
	width: calc(100% - 20px);
}

@media only screen and (max-width: 991px){
	
	.demo-3-about-us::before{
		left: -40px;
		height: 180px;
		width: 180px;
	}

	.demo-3 .about-us-image img{
		aspect-ratio: 1 / 0.75;
	}

	.demo-3 .about-us-list{
		position: inherit;
	}

	.demo-3 .about-list-item::before{
		right: -25px;
	}

	.demo-3-our-services::before{
		right: -50px;
		height: 180px;
		width: 180px;
	}
	
	.demo-3 .our-service-image img{
   		 aspect-ratio: 1 / 0.913;
	}

	.demo-3-why-choose-us::before{
		left: -40px;
		height: 180px;
		width: 180px;
	}
		
	.demo-3 .our-feature-image-1 img{
		aspect-ratio: 1 / 1.61;
	}
	
	.demo-3 .our-feature-img-2 img{
		aspect-ratio: 1 / 0.76;
	}

	.demo-3-key-facts::before{
		right: -40px;
		height: 180px;
		width: 180px;
	}
	
	 .demo-3 .key-facts-image img{
        aspect-ratio: 1 / 0.9;
        object-position: top center;
    }
	
	.demo-3 .pricing-body-list-item .elementor-icon i:before, 
	.demo-3 .pricing-body-list-item .elementor-icon svg:before{
		top: 2px;
	}
	
	.demo-3 .pricing-item .elementskit-single-pricing .elementskit-pricing-lists li{
		padding-bottom: 12px;
	}
	
	.demo-3-how-it-works:before{
		left: -40px;
        height: 180px;
        width: 180px;
	}
	
	.demo-3-our-testimonial::before{
		right: -40px;
		height: 180px;
		width: 180px;
		opacity: 30%;
	}
	
	.demo-3 .testimonial-item .elementor-testimonial-content{
        margin-bottom: 20px;
    }
	
	.demo-3-our-blog-section::before{
        left: -40px;
        height: 180px;
        width: 180px;
    }
	
}

@media only screen and (max-width: 767px){
	
	@keyframes iconheroimg{
		0%{
			transform: translateX(0)
		}
	
		100%{
			transform: translateY(-30px)
		}
	}

	.demo-3 .about-list-item .elementskit-infobox{
		display: flex;
		align-items: center;
	}

	.demo-3 .about-list-item::before{
		display: none;
	}

	.demo-3 .our-service-image img {
		aspect-ratio: 1 / 1.1;
	}

	.demo-3 .client-box-counter{
		transform: translateX(-50%);
	}

	@keyframes clientboxmoves{
		50%{
			left: 55%;
		}
	}

	.demo-3 .client-box-counter .funfact-content .funfact-title{
		font-size: 12px !important;
	}

	.demo-3 .our-feature-image-1 img{
		aspect-ratio: 1 / 1.83;
	}


	.demo-3 .our-feature-img-2 img{
		aspect-ratio: 1 / 0.85;
	}
	
	 .demo-3 .key-facts-image img {
        aspect-ratio: 1 / 1.25;
        object-position: center center;
    }
	
		.demo-3 .pricing-item .currency{
		top: 7px !important;
	}
	
	.demo-3 .pricing-item .period{
		right: 7px;
	}
	
	.demo-3 .faqs-review-box .review-rating-box .elementor-icon-box-wrapper{
		align-items: center;
	}
	
	.demo-3 .our-blog::before{
		left: -40px;
		height: 180px;
		width: 180px;
    }
	
}

/* About Us page CSS */

.demo-3 .breadcrumb-itam ol{
	font-size: 18px !important;
	font-weight: 600 !important;
}

.demo-3 .breadcrumb-itam ol li,
.demo-3 .breadcrumb-itam ol li a{
	line-height: 1.3em;
}

.demo-3 .our-scrolling-ticker .ekit-content-items .ekit-marquee .ekit-marquee-item img{
	max-width: 140px;
}

.demo-3-about-us.page-about-us::before{
	left: auto;
	right: -70px;
}

.demo-3 .our-approach-item{
    position: relative;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-3 .our-approach-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.demo-3 .our-approach-item .elementskit-info-box-icon svg{
    transition: all 0.4s ease-in-out;
}

.demo-3 .our-approach-item:hover .elementskit-info-box-icon svg{
	transform: rotateY(180deg) !important;
}

.demo-3 .our-approach-image img{
	aspect-ratio: 1 / 0.993;
	object-fit: cover;
}

.demo-3 .our-approach-image-2 img{
	aspect-ratio: 1 / 0.473;
	object-fit: cover;
}

.demo-3 .approach-image-circle{
	transform: translate(-50%, -50%);
}

.demo-3 .approach-image-circle .elementor-widget-text-path{
	animation: infiniterotate 30s infinite linear;
}

.demo-3 .what-we-social-image img{
	aspect-ratio: 1 / 0.99;
    object-fit: cover;
}

.demo-3 .agency-icon{
	transform: translate(-50%, -50%);
}

.demo-3 .agency-icon .elementor-icon-wrapper{
	line-height: 0;
}

.demo-3 .what-we-img img{
	aspect-ratio: 1 / 1.04;
    object-fit: cover;
}

.demo-3 .what-we-images .elementor-widget-text-path{
	animation: infiniterotate 30s infinite linear;
}

.demo-3-our-team::before{
	top: auto;
	left: -70px;
    bottom: 10px;
	opacity: 40%;
    width: 255px;
    height: 260px;
    animation: circlemoverotate 10s infinite linear;
    animation-direction: alternate;
}

.demo-3 .our-soultion-item{
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.demo-3 .our-soultion-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-secondary);
    opacity: 40%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.demo-3 .our-soultion-item::after{
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--e-global-color-accent);
    height: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-3 .our-soultion-item:hover:after{
	bottom: 0;
	height: 100%;
}

.demo-3 .our-soultion-item .funfact-icon svg path{
	transition: all 0.4s ease-in-out;
	fill: var(--e-global-color-accent) !important; 
	stroke: none !important;
}

.demo-3 .our-soultion-item:hover .funfact-icon svg path{
	fill: var(--e-global-color-black)!important; 
}

.demo-3 .our-soultion-item .funfact-content .number-percentage-wraper,
.demo-3 .our-soultion-item .funfact-content .funfact-title{
	transition: all 0.4s ease-in-out;
}

.demo-3 .our-soultion-item:hover .funfact-content .number-percentage-wraper,
.demo-3 .our-soultion-item:hover .funfact-content .funfact-title{
	color: var(--e-global-color-black) !important;
}

.demo-3 .our-soultion-image img{
    aspect-ratio: 1 / 1.2202;
    object-fit: cover;
}

@media only screen and (max-width: 991px){
	
	.demo-3 .breadcrumb-itam ol{
		font-size: 16px !important;
	}
	
	.demo-3 .what-we-img img{
		aspect-ratio: 1 / 0.8;
	}

	.demo-3-our-team::before{
		left: -40px;
		opacity: 30%
		height: 180px;
		width: 180px;
	}
	
	.demo-3 .our-soultion-image img{
        aspect-ratio: 1 / 0.9;
    }
}

@media only screen and (max-width: 767px){
	
	.demo-3 .our-scrolling-ticker .ekit-content-items .ekit-marquee .ekit-marquee-item img{
		max-width: 100px;
	} 
	
	.demo-3 .what-we-images{
		transform: translateX(-50%);
	}
	
	.demo-3 .our-soultion-item .elementskit-funfact-inner{
	   display: block !important;
	}
	
}

/* Service Page CSS */

.demo-3 .page-services::before{
	top: auto;
	left: -70px;
    bottom: 0;
    width: 285px;
    height: 285px;
    animation: roundrotate3 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

/*  Service Single Page CSS */

.demo-3 .service-single-page:before{
    left: -50px;
    bottom: 40%;
	top: auto;
    opacity: 50%;
    width: 286px;
    height: 286px;
    animation: circlemoverotate 15s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-3 .service-single-page:after{
	content: '';
    display: block;
    position: absolute;
    right: -70px;
    top: 15%;
    background: url(../images/demo-3-section-bg-shape-7.png) no-repeat;
    background-position: right top;
    background-size: contain;
    width: 258px;
    height: 258px;
    opacity: 50%;
    animation: circlezoomrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

/* Project Singal CSS */

.demo-3 .project-single-page::before{
    right: -80px;
    top: 150px;
	left: auto;
    width: 280px;
    height: 288px;
    animation: circlemoverotate 12s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-3 .project-single-page::after{
	content: '';
    display: block;
    position: absolute;
    top: 60%;
    left: -80px;
	background: url(../images/section-bg-shape-2.png) no-repeat;
    background-position: left bottom;
    background-size: contain;
    opacity: 50%;
    width: 264px;
    height: 274px;
    transform: translateY(-50%);
    animation: circlezoomrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-3 .project-rating-counter .funfact-icon svg{
	max-width: 50px !important;
    height: 50px !important;
}

.demo-3 .project-rating-counter .funfact-icon svg path{
	fill: currentColor !important;
}

@media only screen and (max-width: 767px){

	.demo-3 .project-rating-counter .funfact-icon svg{
		max-width: 36px !important;
		height: 36px !important;
	}
	
}

/* Our Team CSS */

.demo-3 .page-team-section::before{
	left: -70px;
	top: 15%;
	width: 285px;
	height: 285px;
	animation: circlemoverotate 10s infinite linear;
	animation-direction: alternate;
	z-index: -1;
}

.demo-3 .team-item .team-image img{
	aspect-ratio: 1 / 1.091;
	object-fit: cover;
	transition: all 0.4s ease-in-out;
}

.demo-3 .team-item:hover .team-image img{
    transform: scale(1.1);
}

.demo-3 .page-team-body{
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	overflow: hidden !important;
}

.demo-3 .page-team-body::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    background: var(--e-global-color-accent);
    height: 100%;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.demo-3 .team-item:hover .page-team-body::after{
	top: 0;
}

.demo-3 .team-item .elementor-icon-box-title a,
.demo-3 .team-item .elementor-icon-box-description{
	transition: all 0.4s ease-in-out;
}

.demo-3 .team-item:hover .elementor-icon-box-title,
.demo-3 .team-item:hover .elementor-icon-box-description{
	color: var(--e-global-color-secondary);
}

.demo-3 .team-item .team-social-list{
	height: 0;
}

.demo-3 .team-item:hover .team-social-list{
    height: 35px;
    opacity: 1;
    visibility: visible;
}

/* Team Single Page CSS */

.demo-3 .team-single-page::before{
    left: -70px;
    bottom: 30%;
	top: auto;
    width: 325px;
    height: 325px;
    animation: squrerotate 10s infinite linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}

/* Our Pricing CSS */

.demo-3-page-pricing::before{
	top: auto;
    left: -80px;
    bottom: 0;
    width: 280px;
    height: 288px;
    animation: roundrotate3 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

/* Testimonial Page CSS */

.demo-3 .testimonial-page:before{
    right: -80px;
    top: 150px;
	left: auto;
    width: 280px;
    height: 288px;
    animation: circlemoverotate 12s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-3 .testimonial-page:after{
    content: '';
    display: block;
    position: absolute;
    top: 60%;
    left: -80px;
    background: url(../images/section-bg-shape-2.png) no-repeat;
    background-position: left bottom;
    background-size: contain;
    opacity: 50%;
    width: 264px;
    height: 274px;
    transform: translateY(-50%);
    animation: circlezoomrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

/* Image Gallery Page CSS */

.demo-3 .gallery-page:before{
    left: -70px;
    top: 40%;
    width: 325px;
    height: 325px;
    animation: squrerotate 10s infinite linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}

/* Video Gallery Page CSS */

.demo-3 .page-video-gallery:before{
    left: -80px;
    top: 40%;
    width: 264px;
    height: 274px;
    animation: circlezoomrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

/* FAQs Page CSS */

.demo-3 .faqs-page:before{
    right: -80px;
    top: 150px;
	left: auto;
    width: 280px;
    height: 288px;
    animation: circlemoverotate 12s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

.demo-3 .faqs-page::after{
    content: '';
    display: block;
    position: absolute;
    top: 60%;
    left: -80px;
    background: url("../images/demo-3-section-bg-shape-7.png") no-repeat;
    background-position: left bottom;
    background-size: contain;
    opacity: 50%;
    width: 264px;
    height: 274px;
    transform: translateY(-50%);
    animation: circlezoomrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@media only screen and (max-width: 991px){
	
	.demo-3 .page-services::before,
	.demo-3 .page-team-section::before,
	.demo-3-page-pricing::before,
	.demo-3 .service-single-page:before,
	.demo-3 .service-single-page:after,
	.demo-3 .project-single-page::before,
	.demo-3 .project-single-page::after,
	.demo-3 .team-single-page::before,
	.demo-3 .testimonial-page:before,
	.demo-3 .testimonial-page:after,
	.demo-3 .gallery-page:before,
	.demo-3 .page-video-gallery:before,
	.demo-3 .faqs-page::before,
	.demo-3 .faqs-page::after{
		width: 180px;
		height: 180px;
	}
	
	.demo-3 .service-single-page:after,
	.demo-3 .project-single-page::after,
	.demo-3 .testimonial-page:after,
	.demo-3 .faqs-page::after{
		opacity: 30%;
	}	
	
}

/* Contact Us CSS */

.demo-3-contact-information-item:before{
	top: auto;
    right: -90px;
	left: auto;
    bottom: 0%;
    width: 264px;
    height: 274px;
    animation: circlezoomrotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes circlezoomrotate{
	from{
		transform: translateY(0) rotate(0deg) scale(0.7);
    }
	to{
		transform: translateY(-100%) rotate(360deg) scale(1);
	}
}

.demo-3-contact-information-item .elementor-element{
	overflow: hidden;
}

.demo-3 .contact-info-box{
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-3 .contact-info-box::before{
	z-index: -1;
}

.demo-3 .contact-information .ekit-wid-con .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon svg{
	width: 1em !important;
	height: 1em !important;
}

.demo-3 .contact-information .ekit-wid-con .elementskit-infobox .box-body p,
.demo-3 .contact-information .ekit-wid-con .elementskit-infobox .box-body p a{
	text-decoration: underline;
}

.demo-3 .contact-information:after{
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--e-global-color-secondary);
	border-left: 1px solid var(--e-global-color-divider);
	border-right: 1px solid var(--e-global-color-divider);
	border-bottom: 1px solid var(--e-global-color-divider);
	border-radius: 0 0 30px 30px;
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
	opacity: 40%;
	height: 0;
	width: 100%;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
	z-index: -1;
}

.demo-3 .contact-information:before{
    height: 0;
    width: 100%;
	transition: all 0.4s ease-in-out;
}

.demo-3 .contact-information:hover:before,
.demo-3 .contact-information.active::before,
.demo-3 .contact-information.active::after,
.demo-3 .contact-information:hover:after{
	height: 100%;
}

.demo-3 .contact-form{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.demo-3-contact-us-form::before{
	top: auto;
    left: -70px;
    bottom: 60px;
    width: 255px;
    height: 260px;
    animation: circlemoverotate 10s infinite linear;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes circlemoverotate{
	0%{
		transform: translateY(5%) rotate(0deg);
	}
	100%{
		transform: translateY(100%) rotate(360deg);
	}
}

.demo-3 .google-map .elementor-custom-embed iframe{
	filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.demo-3 .google-map .elementor-custom-embed iframe:hover{
	filter: grayscale(0%);
}

@media only screen and (max-width: 991px){

	.demo-3-contact-information-item::before{
		right: -50px;
		height: 180px;
		width: 180px;
	}

	.demo-3-contact-us-form::before{
		left: -40px;
		height: 180px;
		width: 180px;
	}
	
}

@media only screen and (max-width: 767px){

	.demo-3 .contact-information:before{
		border-radius: 30px;
	}
	
}